In [1]:
45+67

112

In [2]:
34-89

-55

In [3]:
10*10

100

In [4]:
10/5

2.0

In [5]:
10%5

0

In [6]:
2**4

16

In [7]:
10*10

100

In [8]:
12**3

1728

In [10]:
10+89-8/3*(12**3)

-4509.0

In [11]:
45+7j+10+2j

(55+9j)

In [12]:
num=12.2355+7j

In [13]:
num.real

12.2355

In [14]:
num.conjugate

In [15]:
var=25
var1="GL"
var1=var
var1

25

In [17]:
str1='Great'
str2='Learning'
str3 = str1+str2
str3

'GreatLearning'

In [19]:
str3*3

'GreatLearningGreatLearningGreatLearning'

In [20]:
str2[5]

'i'

In [21]:
string='Introduction to Python'
string

'Introduction to Python'

In [24]:
string[13:22]

'to Python'

In [25]:
string[0]='P'

TypeError: 'str' object does not support item assignment

In [26]:
age=input("Enter age : ")
age

Enter age : 12

'12'

In [33]:
a=10
b=2
print("a+b =",a+b)
print("a-b =",a-b)
print("a%b =",a%b)
print("a/b =",a/b)
print("a//b =",a//b)
print("a**b =",a**b)

a+b = 12
a-b = 8
a%b = 0
a/b = 5.0
a//b = 5
a**b = 100

In [35]:
n=10
sum=0
i=1

while i<n:
    sum=sum+i
    i+=1
print(sum)

45

In [36]:
for i in string:
    print(i)

I
n
t
r
o
d
u
c
t
i
o
n

t
o

P
y
t
h
o
n

In [39]:
for i in range(len(string)):
    print(string[i])

I
n
t
r
o
d
u
c
t
i
o
n

t
o

P
y
t
h
o
n

In [40]:
empty_list=[]
empty_list

[]

In [41]:
empty_list=list()
empty_list

[]

In [42]:
my_list=[['Data Science','Python'],[1,2]]
my_list

[['Data Science', 'Python'], [1, 2]]

In [44]:
course=['data science','machine learning','artificial intelligence']
print(course[2])

artificial intelligence

In [47]:
course[-3]

'data science'

In [48]:
len(course)

3

In [50]:
course[:2]

['data science', 'machine learning']

In [52]:
course[1:]

['machine learning', 'artificial intelligence']

In [53]:
course[0:4]

['data science', 'machine learning', 'artificial intelligence']

In [54]:
string

'Introduction to Python'

In [55]:
course.sort(key=len)

In [56]:
course

['data science', 'machine learning', 'artificial intelligence']

In [57]:
del course[1]

In [58]:
course

['data science', 'artificial intelligence']

In [59]:
my_tuple=(1,2,3)

In [60]:
my_tuple[1]

2

In [61]:
my_tuple[-1]

3

In [62]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')

In [63]:
my_tuple.count('e')

4

In [64]:
my_tuple.index('l')

3

In [65]:
balance={
    "Mia":83847,
    "John":83837,
    "Jill":95766
}
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 95766}

In [66]:
balance['Mia']

83847

In [68]:
balance.get('Tuli')

In [71]:
balance.get('Mia')

83847

In [72]:
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

In [73]:
year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [74]:
year_sales[2015]=15000

In [75]:
year_sales

{2015: 15000, 2016: 34300, 2017: 40000}

In [78]:
year_sales[2018]=25000

In [79]:
year_sales

{2015: 15000, 2016: 34300, 2017: 40000, 2018: 25000}

In [80]:
horsepower = {'BMW':949 , 'Mercedes':945 ,'Ferrari':954 ,'Volkswagen': 976,'Renault ':889}

In [81]:
horsepower.keys()

dict_keys(['BMW', 'Mercedes', 'Ferrari', 'Volkswagen', 'Renault '])

In [82]:
'Honda' in horsepower

False

In [83]:
'BMW' in horsepower

True

In [84]:
horsepower.values()

dict_values([949, 945, 954, 976, 889])

In [85]:
horsepower.items()

dict_items([('BMW', 949), ('Mercedes', 945), ('Ferrari', 954), ('Volkswagen', 976), ('Renault ', 889)])

In [86]:
a = horsepower.items()
a=list(a)
a

[('BMW', 949),
 ('Mercedes', 945),
 ('Ferrari', 954),
 ('Volkswagen', 976),
 ('Renault ', 889)]

In [87]:
year_sales.pop(2015)

15000

In [88]:
year_sales

{2016: 34300, 2017: 40000, 2018: 25000}

In [89]:
year_sales.popitem()

(2018, 25000)

In [91]:
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales.update({2017 : 30000})
year_sales

{2015: 34500, 2016: 34300, 2017: 30000}

In [92]:
age_set={11,12,13,31,13,24,32,33,21,23,12,12,13}
age_set

{11, 12, 13, 21, 23, 24, 31, 32, 33}

In [93]:
set([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [94]:
age_set.add('88')

In [95]:
age_set

{11, 12, 13, 21, 23, 24, 31, 32, 33, '88'}

In [98]:
age_set.update([78,79,80])
age_set
len(age_set)

13

In [101]:
age_set.remove('88')

KeyError: '88'

In [100]:
age_set

{11, 12, 13, 21, 23, 24, 31, 32, 33, 78, 79, 80}

In [103]:
print(set([11,12,13,14]).isdisjoint(set([11,1])))

False

In [104]:
val=3736

if val<4738:
    print("Number is smaller than 4738")
else:
    print("Number is bigger than 4738")

Number is smaller than 4738

In [105]:
if val > 0:
    print("Number is positive")

Number is positive

In [106]:
num_list = [66, 545, 223, 438, 224, 122, 125, 214, 111]

In [107]:
total=0
for i in num_list:
    total = total + i
print("sum is = ",total)

sum is =  2068

In [108]:
letter_list=[]
for i in 'Great lakes':
    letter_list.append(i)
print(letter_list)

['G', 'r', 'e', 'a', 't', ' ', 'l', 'a', 'k', 'e', 's']

In [110]:
letter_list=[i   for i in 'Great lakes']
print(letter_list)

['G', 'r', 'e', 'a', 't', ' ', 'l', 'a', 'k', 'e', 's']

In [111]:
num = [13, 32, 33, 24]
num_sq = [n**2   for n in num]
print(num_sq)

[169, 1024, 1089, 576]

In [112]:
list_1 = ["yes", "it's", "a", "Beautiful", "Day"]
lists=[i.upper()  for i in list_1]
lists

['YES', "IT'S", 'A', 'BEAUTIFUL', 'DAY']

In [113]:
list_1 = [11, 12, 13, 14]

sq_cube = [[i**2,i**3]  for i in list_1]
sq_cube

[[121, 1331], [144, 1728], [169, 2197], [196, 2744]]

In [114]:
[[i*j for i in range(1,11)] for j in range(13,18)]

[[13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170]]

In [116]:
list_1 = [13, 72, 27, 83, 89, 54]
list_2 = [25, 37, 35]

my_list = [(a,b)   for a in list_1  for b in list_2 if a<b]
my_list

[(13, 25), (13, 37), (13, 35), (27, 37), (27, 35)]

In [118]:
num_list = [a  for a in range(11)  if a%2==0]
num_list

[0, 2, 4, 6, 8, 10]

In [119]:
numbers = [1, 2, 3, 4, 5, 6, 18, 20]
num_list=[i  for i in numbers if i%2 == 0 if i %3 ==0]
num_list

[6, 18]

In [124]:
["Even" if i%2==0 else "Odd" for i in range(20)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [125]:
#Named function

In [126]:
def add(num1,num2):
    s = num1 +num2
    return s

In [127]:
a = add(10,5)
a

15

In [128]:
def isEven(num1):
    if num1%2 == 0:
        return True
    else:
        return False

In [131]:
x = isEven(15)
x

False

In [132]:
#Anonymous function/lambda

In [133]:
isEven= lambda num1:num1%2 == 0

In [134]:
additon = lambda x,y:x+y

In [135]:
additon(10,15)

25

In [136]:
val = 25
if val<0:
    print("Negative number")
else:
    print("Positive number")

Positive number

In [141]:
val = int(input("Enter any number"))
if val<0:
    print("Negative number")
else:
    print("Positve number")

Enter any number-1
Negative number

In [142]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [144]:
n=10
i = 0

while i<n:
    if i%2==0:
        print("Required")
    else:
        print("Not required")
    i+=1 # i=i+1

Required
Not required
Required
Not required
Required
Not required
Required
Not required
Required
Not required