<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="faculty.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Faculty Notebook <br> (Day 3) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Reshaping](#Reshaping)**

<a id="Reshaping"> </a>
### 1. Reshaping

**`.stack()` and `.unstack()` in Pandas:**<br>
 
Unstacking can be used to rearrange the series with hierarchical index in a DataFrame.

Stack is the inverse operation of unstack

### Methods of Multi-Index Creation

In [3]:
# create the column names of the DataFrame
labels = pd.MultiIndex.from_product([['Before Course','After Course'],['Marks']])

# create the list of values 
marks = [[82,95],[78,89],[78,87],[76,89],[66,89]]

# create the DataFrame
# data is the values used to create the DataFrame
# index are the index name of the DataFrame
# columns are the column name of the DataFrame
df_marks = pd.DataFrame(data = marks, index = ['Alisa','Bobby','Cathrine','Jack','Mia'], columns = labels)

# print the DataFrame
df_marks

         Before Course After Course
                 Marks        Marks
Alisa               82           95
Bobby               78           89
Cathrine            78           87
Jack                76           89
Mia                 66           89

In [2]:
import pandas as pd

We shall use the above the DataFrame henceforth.

Stack the DataFrame

In [5]:
# stack the DataFrame
df_stacked = df_marks.stack()

# print the stacked DataFrame
print(df_stacked)

                After Course  Before Course
Alisa    Marks            95             82
Bobby    Marks            89             78
Cathrine Marks            87             78
Jack     Marks            89             76
Mia      Marks            89             66

Notice this creates two levels of indexes; the first level is the name of students, and the second level is 'Marks'. There are two indexes and is called a multi-index. 

We can convert back to a full table by unstacking, recreating a single index for each line of data.

In [6]:
# unstack the DataFrame
df_unstacked = df_stacked.unstack()

# print the unstacked DataFrame
print (df_unstacked)

         After Course Before Course
                Marks         Marks
Alisa              95            82
Bobby              89            78
Cathrine           87            78
Jack               89            76
Mia                89            66

Let us introduce the parameter `level`  in `.stack()`.  The argument `level = 0`  stacks the column marks as 'after course' and 'before course'.

In [7]:
# stack the DataFrame
df_stacked_level = df_marks.stack(level = 0)

# print the stacked DataFrame
df_stacked_level

                        Marks
Alisa    After Course      95
         Before Course     82
Bobby    After Course      89
         Before Course     78
Cathrine After Course      87
         Before Course     78
Jack     After Course      89
         Before Course     76
Mia      After Course      89
         Before Course     66

Now put `level = 1`.

In [23]:
# stack the DataFrame
df_stacked_level = df_marks.stack(level = 1)

# print the stacked DataFrame
df_stacked_level

                After Course  Before Course
Alisa    Marks            95             82
Bobby    Marks            89             78
Cathrine Marks            87             78
Jack     Marks            89             76
Mia      Marks            89             66

**Using `.melt()` method:**<br>
`.melt()` in pandas reshape dataframe from wide format to long format. It uses the `id_vars[‘col_names’]` to melt the dataframe by column names.

In [24]:
# display DataFrame
df_prof_info_A

     Emp_ID     Name Gender  Company  Salary
101    1001     Alex      M    Apple   67000
102    1002      Amy      F  Walmart   90000
103    1003    Allen      M    Intel   87000
104    1004    Alice      F  Cummins   69000
105    1005  Stephan      M     Ford   78000

In [25]:
# reshape the DataFrame using melt()
df_melt = df_prof_info_A.melt(id_vars =['Company'])  
print(df_melt.head(10))

   Company variable    value
0    Apple   Emp_ID     1001
1  Walmart   Emp_ID     1002
2    Intel   Emp_ID     1003
3  Cummins   Emp_ID     1004
4     Ford   Emp_ID     1005
5    Apple     Name     Alex
6  Walmart     Name      Amy
7    Intel     Name    Allen
8  Cummins     Name    Alice
9     Ford     Name  Stephan

The column ‘variable’ contains all the columns except the identifiers, and ‘value’ contains the values of the corresponding column.