In [2]:
import pandas as pd
import numpy as np

# Pandas Series

In [4]:
mylist1 = [11,22,33.8,44,55, 'hello']
ps1 = pd.Series(mylist1)
print(type(ps1))
print(ps1)
print(ps1.index)
print(ps1.ndim)
print(ps1.shape)
print(ps1.dtype)

<class 'pandas.core.series.Series'>
0       11
1       22
2     33.8
3       44
4       55
5    hello
dtype: object
RangeIndex(start=0, stop=6, step=1)
1
(6,)
object

In [5]:
mylist1 = [11,22,33,44,55]
ps1 = pd.Series(mylist1, dtype=np.float32)
print(type(ps1))
print(ps1)
print(ps1.index)
print(ps1.ndim)
print(ps1.shape)
print(ps1.dtype)

<class 'pandas.core.series.Series'>
0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
dtype: float32
RangeIndex(start=0, stop=5, step=1)
1
(5,)
float32

Tata     100
Birla    200
Infy     300
wipro    400
HCL      500

In [6]:
mylist1 = [200,300,400,500,100,50]
row_index_list = ['Birla', 'Infy', 'Wipro', 'HCL','Tata','Tata']

ps2 = pd.Series(mylist1,  index = row_index_list)
print(ps2.index)
print()
print(ps2)

Index(['Birla', 'Infy', 'Wipro', 'HCL', 'Tata', 'Tata'], dtype='object')

Birla    200
Infy     300
Wipro    400
HCL      500
Tata     100
Tata      50
dtype: int64

In [ ]:
ps2[0]

In [ ]:
ps2['Tata']

In [ ]:
md1 = {'Tata': 100, 'Birla':200, 'Wipro':300, 'Infy':400, 'HCL':500, 'TCS':350}
ps3 = pd.Series(md1)
print(ps3.index)
ps3

# Series Access

In [ ]:
md1 = {'Tata': 100, 'Birla':200, 'Wipro':300, 'Infy':400, 'HCL':500, 'TCS':350}
ps3 = pd.Series(md1)
print(ps3.index)
ps3

In [ ]:
ps3['Tata']

In [ ]:
ps3['TCS']

In [ ]:
ps3.index

In [ ]:
ps3['Birla': 'Infy']  ## labelled slice , endpoint=True

In [ ]:
ps3[1:3]  ## numerical_index slice,  endpoint=False

In [ ]:
ps3

In [ ]:
ps3[ ['Wipro', 'TCS', 'Birla'] ]

In [ ]:
ps3

In [ ]:
mask = ps3>300
print(mask)
ps3[mask]

In [ ]:
ps3[ps3>300]

In [ ]:
ps3[  (ps3 < 300) |  (ps3 > 400)]

In [ ]:
ps3

In [ ]:
ps3 < 300

In [ ]:
ps3 > 400

In [ ]:
ps3

In [ ]:
ps3['Birla'] = 222

In [ ]:
ps3

In [ ]:
ps3['Birla':'HCL'] = 999

In [ ]:
ps3

In [ ]:
ps3['Birla':'HCL'] = [111,222,333,444]

In [ ]:
ps3[ps3>300]

In [ ]:
ps3[ps3>300] = 10101010

In [ ]:
ps3.max()

In [ ]:
ps3.min()

In [ ]:
ps3.count()

In [ ]:
ps3.value_counts()

In [ ]:
ps3.rename(index = {'Tata': 'TATA_SONS'})

# DataFrames

        Rev    Exp
Tata     100   75
Birla    200   180
wipro    300   150

In [ ]:
md1 = {'Rev':[100,200,300], 'Exp': [75,180,150] }
df1 = pd.DataFrame(md1)
print(df1)

In [7]:
row_index_labels = ['Tata', 'Birla', 'Wipro']
md1 = {'Rev':[100,200,300], 'Exp': [75,180,150] }
df1 = pd.DataFrame(md1, index=row_index_labels)
print(df1)

       Rev  Exp
Tata   100   75
Birla  200  180
Wipro  300  150

In [8]:
df1.index

Index(['Tata', 'Birla', 'Wipro'], dtype='object')

In [9]:
df1.columns

Index(['Rev', 'Exp'], dtype='object')

In [ ]:
df1.ndim

In [ ]:
df1.shape

In [ ]:
print(type(df1))

        Rev    Exp
Tata     100   75
Birla    200   180
wipro    300   150

In [ ]:
mylist1 = [ [100,75], [200,180], [300,150] ]
row_index_labels = ['Tata', 'Birla', 'Wipro']
col_labels = ['Rev', 'Exp']

df2 = pd.DataFrame(mylist1, index=row_index_labels, columns=col_labels)
df2

In [ ]:
df2.index

In [ ]:
df2.columns

In [ ]:
n32 = np.arange(100,106).reshape(3,2)
row_index_labels = ['Tata', 'Birla', 'Wipro']
col_labels = ['Rev', 'Exp']

df2 = pd.DataFrame(n32, index=row_index_labels, columns=col_labels)
df2

In [ ]:
df2.index

In [ ]:
df2.columns

In [ ]:
df2.values

In [ ]:
print(type(df2.values))

In [176]:
d1 = {'Rev': [100,200,300],'Exp':[75,100,150]}
md1 = pd.DataFrame(d1, index=['Tata','Wipro','TCS'],columns=['D','E','Rev', 'Exp'])
print(md1,md1.index,md1.columns,md1.ndim,md1.shape,sep="\n")

         D    E  Rev  Exp
Tata   NaN  NaN  100   75
Wipro  NaN  NaN  200  100
TCS    NaN  NaN  300  150
Index(['Tata', 'Wipro', 'TCS'], dtype='object')
Index(['D', 'E', 'Rev', 'Exp'], dtype='object')
2
(3, 4)

In [ ]:
df1 = pd.read_csv('lds1.csv')
df1

In [ ]:
df1 = pd.read_csv('lds1.csv', index_col=0)
df1

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
df1.shape

In [ ]:
df1.ndim

In [ ]:
df1.head()

In [ ]:
df1.head(3)

In [ ]:
df1.tail()

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
df1.describe(include='all')  ## summary stats

In [ ]:
df1

# File Types

In [ ]:
df1

In [ ]:
df1.to_excel('file.xlsx')

In [ ]:
df1.to_html('file.html')

In [ ]:
df1.to_csv('file.csv')

In [ ]:
d = df1.describe()
print(d)
print(type(d))
d.to_csv('des.csv')

In [ ]:
df2 = pd.read_html('file.html', index_col=0)
print(type(df2))
df2[0]

In [ ]:
df2 = pd.read_excel('file.xlsx', index_col=0)
df2

In [ ]:
df1.to_json('file.json')

In [ ]:
df4 = pd.read_json('file.json')
df4

# Access of Data Frames

Direct Access 
integer location based access
labelled location based access

# Direct Access Mode

Grammer of Direct Access Mode

df1[col_label]
df1 [ [vector of col labels] ]
df1[row_label_slice]
df1[boolean_matrix]

In [ ]:
df1 = pd.read_csv('lds1.csv', index_col=0)
df1

In [ ]:
df1['Vol']

In [ ]:
df1['Chennai_Shipping']

In [ ]:
df1

In [ ]:
df1[['Vol','Catg','MNC']]

In [ ]:
df1[  ['Kolkata_FMCG','Chennai_Chemicals','Indi_Services'] ]

In [ ]:
df1

In [ ]:
df1['Rev': 'HQ']

In [ ]:
df1['Bombay_Sporting':'Bangalore_Breweries' ]

In [ ]:
df1['Chennai_Shipping':'Chennai_Shipping' ]

In [ ]:
df1

In [ ]:
df1['HQ']

In [ ]:
df1.HQ

In [ ]:
dir(df1)

In [ ]:
df1

In [ ]:
df1.Vol

In [ ]:
mask = df1.Vol > 925
mask

In [ ]:
df1[mask]

In [ ]:
df1[df1.Vol > 925]

In [ ]:
df1[df1.Catg == 'Pub']

In [ ]:
(df1.Catg == 'Pub') &  (df1.HQ == 'Che')

In [ ]:
df1[(df1.Catg == 'Pub') &  (df1.HQ == 'Che')]

In [ ]:
df1[(df1.Catg == 'Pub') &  (df1.HQ == 'Mum')]

In [ ]:
df1[df1.HQ =='Mum']

In [ ]:
(df1.Catg == 'Pub') &  (df1.HQ == 'Mum')

In [ ]:
df1[[False,True,False,True,False,True,False,False,False]]

In [ ]:
df1

In [ ]:
boolean_list = [False,True,False,True,False,True,False,False,False]
df1[boolean_list]