In [1]:
import pandas as pd

In [15]:
df1=pd.DataFrame([10,20,30,40],index=['a','b','c','d'],columns=['Count'])
df1

   Count
a     10
b     20
c     30
d     40

In [19]:
df2=pd.DataFrame([50,60],index=['a','b'],columns=['MyCount'])
df2

   MyCount
a       50
b       60

In [20]:
df2.join(df1)

   MyCount  Count
a       50     10
b       60     20

In [22]:
df2.merge(on=df1.index,right_index=)

TypeError: merge() missing 1 required positional argument: 'right'