# Tuples

In [2]:
mytuple=tuple('python world')

In [3]:
type(mytuple)

tuple

In [4]:
len(mytuple)

12

In [5]:
mytuple[0]

'p'

In [6]:
mytuple[0]='c' #Typeerror

TypeError: 'tuple' object does not support item assignment

In [7]:
mt1=(222,333,[444,555,666],777)

In [11]:
type(mt1[0])

int

In [13]:
type(mt1[1])

int

In [12]:
type(mt1[2])

list

In [14]:
type(mt1[3])

int

In [15]:
mt1[2] = 999

TypeError: 'tuple' object does not support item assignment

In [17]:
mt1[2][0]=999

In [18]:
mt1

(222, 333, [999, 555, 666], 777)

In [19]:
mt1[2][0]=444.555

In [20]:
mt1

(222, 333, [444.555, 555, 666], 777)

In [21]:
myList1 = [222,333,444,'python',555,666]

In [22]:
myList1[0]=222.99

In [23]:
myList1

[222.99, 333, 444, 'python', 555, 666]

In [24]:
myList1[3]

'python'

In [27]:
myList1[3][0]='c' #Strings are immutable hence error

TypeError: 'str' object does not support item assignment

In [26]:
myList1

[222.99, 333, 444, 'python', 555, 666]