# 29-March-2021.

# Tuples

In [ ]:
mt1 = tuple('python world')

In [ ]:
mt1

In [ ]:
print(type(mt1))

In [ ]:
len(mt1)

In [ ]:
mt1[0]

In [ ]:
mt1[0] = 'c'

In [ ]:
mylist1 = [22,33,44]
print(mylist1)
print(mylist1[0])
mylist1[0] = 222
print(mylist1)

In [ ]:
mt1 = (22,33,44)
print(mt1)
print(mt1[0])
mt1[0] = 222

In [ ]:
mt1 = (222,333,[444,555,666], 777)
print(mt1)
print(mt1[0], type(mt1[0]))
print(mt1[1], type(mt1[1]))
print(mt1[2], type(mt1[2]))
print(mt1[3], type(mt1[3]))

In [ ]:
mt1[2] = 999

In [ ]:
mt1[2][0]

In [ ]:
mt1[2][0] = 444.555

In [ ]:
mt1

In [ ]:
mylist1 = [222,333,444, 'python', 555,666]

In [ ]:
mylist1[0]

In [ ]:
mylist1[0] = 222.999

In [ ]:
mylist1

In [ ]:
mylist1[3]

In [ ]:
mylist1[3][0] = 'C'

In [ ]:
type(mylist1[3])

In [ ]:
mylist1

In [ ]:
mylist1[3]

In [ ]:
mylist1[3] = 8888

In [ ]:
mylist1

In [ ]:
mt1 = (123)
print(mt1)
print(type(mt1))

In [ ]:
5+4*3

In [ ]:
(5+4)*3

In [ ]:
mt1 = (123)
print(mt1)
print(type(mt1))

In [ ]:
mt1 = (123,)
print(mt1)
print(type(mt1))

In [ ]:
mt1[0]

In [ ]:
mt1[1]

In [ ]:
mt1[-1]

In [ ]:
mt2 = (1,2,3) + (4,5,6)
print(mt2)
print(type(mt2))

In [ ]:
mt3 = (1,2,3) * 4
print(mt3)
print(type(mt3))

mt4 = (1,2,3) + (1,2,3) + (1,2,3) + (1,2,3)
print(mt4)

In [ ]:
(1,2,3)  + [4,5,6]

In [ ]:
(1,2,3) + ([4,5,6],)

In [ ]:
mt1 = tuple('python worldof datasceince')
print(mt1)
print(type(mt1))
print(len(mt1))

In [ ]:
'y' in mt1

In [ ]:
'z' in mt1

In [ ]:
'z' not in mt1

In [ ]:
'y' not in mt1

In [ ]:
'good' in 'this is a good book'

In [ ]:
'good' in ' this is a superb book'

In [ ]:
accnumlist = [123,456,789,145,478,879]

In [ ]:
478 in accnumlist

In [ ]:
479 in accnumlist

In [ ]:
if 898 not in accnumlist:
    print('issue this accnum')

In [ ]:
mt= ('python',2,[3,'a'])

In [ ]:
'a' in mt[-1]

In [ ]:
a="hello"
mylist2 = list(a)
print(mylist2)
print(a)

In [ ]:
ms1 = 'hello'

In [ ]:
type(ms1)

In [ ]:
ms1[0]

In [ ]:
type(ms1[0])

In [ ]:
n1 = 1234
mylist1 = list(n1)

In [ ]:
str(93)

In [ ]:
20('hello')

In [ ]:
a="hello"
print(list(a))

In [ ]:
list = 20
a="hello"
print(list(a))

## after this restart your kernel again

In [ ]:
dir(tuple)

In [ ]:
mt1 = tuple('pythonworld')
print(mt1)

In [ ]:
help(tuple.count)

In [ ]:
mt1.count('o')

In [ ]:
print(mt1)
mt1.index('o')

In [ ]:
mt1.index('o',1,5)

In [ ]:
mt1[1:5]

In [ ]:
max([22,33,11,66,44,24])

In [ ]:
min([22,33,11,66,44,24])

In [ ]:
max((22,33,11,66,44,24))

In [ ]:
o=(1,2,4,3,)

f=()
for i in o:
    if i==4:
        f+=(5,)
    else:
        f+=(i,)
o=f
print(o)
print(f)

In [ ]:
mt1 = ('abcd', 'efgh', 'pqrs')
mt1[1] = 'wxyz'

In [ ]:
mt1 = ('abcd', 'efgh', 'pqrs')
print(1, mt1)
mylist1 = list(mt1)
print(2, mylist1)
mylist1[1] = 'wxyz'
print(3, mylist1)
mt1 = tuple(mylist1)
print(4, mt1)

# Dictionary

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MGRoad', 91:'India'}

In [ ]:
print(type(md1))

In [ ]:
md1[0]

In [ ]:
md1[91]

In [ ]:
md1['Bank']

In [ ]:
md1

In [ ]:
md1['City']

In [ ]:
md1['City'] = 'Del'

In [ ]:
md1

In [ ]:
md1['City']

In [ ]:
md1['Branch'] = 'Market'

In [ ]:
md1

In [ ]:
md2 = {'Bank': 'SBI', 'Branch': 'MGRoad', 91:'India', 'Branch': 'Market'}
print(md2)

In [ ]:
md2 = {'Bank': 'SBI', 'Branch': 'Blr', 91:'India', 'Branch': 'Del', 'City': 'Del'}
print(md2)

In [ ]:
md3 = {'Maths': [22,33,44,55], 'Science': [66,77,88,99]}
print(md3)

In [ ]:
dir(dict)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

In [ ]:
len(md1)

In [ ]:
mk = md1.keys()
print(type(mk))
print(mk)        #### list-like object
mykeylist = list(mk)
print(mykeylist)

In [ ]:
mykeylist = list(md1.keys())
print(mykeylist)

In [ ]:
myvaluelist = list(md1.values())
print(myvaluelist)

In [ ]:
myitemlist = list(md1.items())
print(myitemlist)

In [ ]:
print(md1)
mi = md1.items()
print(type(mi))
print(mi)        #### list-like object
myitemlist = list(mi)
print(myitemlist)

In [ ]:
print(md1)
#mi = md1.items()
print(type(md1.items()))

In [ ]:
list(md1)

In [ ]:
md1

In [ ]:
md1['Branch']

In [ ]:
md1['Branch'] = ['Mgroad', 'Market', 'Majestic']

In [ ]:
md1

In [ ]:
print(md1)

In [ ]:
md1['Branch'].append('Vijaynagar')

In [ ]:
md1

In [ ]:
md1['Bank'].append('Vijaynagar')  ### error

31-3-2021

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

In [ ]:
x = md1.get('Branch')
print(x)

In [ ]:
x = md1.get('Branch1')
print(x)

In [ ]:
x = md1.get('Hello', 'Unknown')
print(x)

In [ ]:
x = md1.get('Branch', 'Unknown')
print(x)

In [ ]:
x = md1.get(('Branch', 'City'))
print(x)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch1')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch1', 'KeyNotAvailable')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch', 'KeyNotAvailable')
print(x)
print(md1)

In [ ]:
md1 = {}
print(md1)
x = md1.pop('Branch', 'KeyNotAvailable')
print(x)
print(md1)

In [ ]:
md1 = {}
print(md1)
x = md1.pop('Branch')
print(x)
print(md1)

In [ ]:
md1 = {}
print(md1)
x = md1.get('Branch')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

md2 = {'State': 'KA', 'City' : 'Mysore'}
print(md2)
print()
md1.update(md2) ## new keys will get added, existing keys will get modified
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('State')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('State', 'KA')
print(x)
print(md1)

In [1]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('Branch')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
MgRoad
{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}

In [3]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('Branch', 'Market')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
MgRoad
{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}

In [4]:
mt1 = ('Bank', 'City', 'Branch')
md1 = dict.fromkeys(mt1)
print(md1)

{'Bank': None, 'City': None, 'Branch': None}

In [5]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
md1 = dict.fromkeys(mt1,mt2)
print(md1)

{'Bank': ('SBI', 'Blr', 'MGROAD'), 'City': ('SBI', 'Blr', 'MGROAD'), 'Branch': ('SBI', 'Blr', 'MGROAD')}

In [ ]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
## md1 = {'Bank': 'SBI', 'City':'Blr', 'Branch':'MGROAD'}

In [6]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
z = zip(mt1,mt2)   ## zip return an o/p, which can be consumed only once. it is called ITERATOR.. temporary one time readable container of values
print(type(z))
print(z)
print(list(z))
print(list(z))

<class 'zip'>
<zip object at 0x0000020091F84BC0>
[('Bank', 'SBI'), ('City', 'Blr'), ('Branch', 'MGROAD')]
[]

In [7]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
z = zip(mt1,mt2)   ## zip return an o/p, which can be consumed only once. it is called ITERATOR.. temporary one time readable container of values
print(type(z))
mylist1 = list(z)
print(mylist1)
md1 = dict(mylist1)
print(md1)

<class 'zip'>
[('Bank', 'SBI'), ('City', 'Blr'), ('Branch', 'MGROAD')]
{'Bank': 'SBI', 'City': 'Blr', 'Branch': 'MGROAD'}

In [8]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('Blr', 'MGROAD','SBI', )
md1 = dict(zip(mt1,mt2))
print(md1)

{'Bank': 'Blr', 'City': 'MGROAD', 'Branch': 'SBI'}

In [ ]:
mt1 = ('Bank', 'City', 'Branch', 91)
mt2 = ('Blr', 'MGROAD','SBI', )
md1 = dict(zip(mt1,mt2))
print(md1)

In [9]:
mylist1 = [11,22,33]   ###  list or tuple is called an ITERABLE.. because they persist in memory.
print(mylist1)
print(mylist1)

[11, 22, 33]
[11, 22, 33]

In [10]:
md1 = { 2:"python","100":md2}
md2={"innerdict":{"innerdict1": 1234},7:0}
z = zip(md1,md2)
print(list(z))

NameError: name 'md2' is not defined

In [ ]:
list(md1)

In [ ]:
list(md2)

In [ ]:
md1

In [ ]:
list(md1.keys())

In [ ]:
mt1 = ('Bank', 'City', 'Branch', 'Bank')
mt2 = ('SBI', 'Blr', 'MGROAD', 'Axis' )
md1 = dict(zip(mt1,mt2))
print(md1)

# Sets

In [ ]:
myset1 = {2,4,6,8,10,2,4,6}
print(myset1)
print(len(myset1))
print(type(myset1))

In [ ]:
mylist1 = [2,4,6,8,10,2,4,6]
print(mylist1)
print(len(mylist1))
print(type(mylist1))
print()
newset1 = set(mylist1)
print(newset1)
print(len(newset1))
print(type(newset1))
print()
mylist1 = list(newset1)
print(mylist1)
print(len(mylist1))
print(type(mylist1))

In [ ]:
mylist1 = [2,4,6,8,10,2,4,6]
mylist1 = list(set(mylist1))
print(mylist1)

In [ ]:
myset1 = set()
print(len(myset1))
print(type(myset1))

myset1.add(20)
myset1.add(30)
myset1.add(50)
myset1.add(40)
myset1.add(20)
print(myset1)

In [ ]:
dir(set)

In [ ]:
myset1 = {2,4,6,8,10}
x = myset1.pop(); print(x)
print(myset1)

In [ ]:
myset1[0]

In [ ]:
s1 = {2,4,6,1,3,5, (100,200,300)}
s2 = {2,4,6,11,13,15}

In [ ]:
s1.intersection(s2)

In [ ]:
s1.union(s2)

In [ ]:
s1.symmetric_difference(s2)

# Decision Making

In [ ]:
for value in "PyTHONwORLD":
    print(value)
    if value.islower():
        print('lowercase')

In [ ]:
ord('$')

In [ ]:
chr(36)

In [ ]:
ord('A')

In [ ]:
for letter in 'python':
    print(letter)
    
print('hello')
print('world')
print(23+45)

# 05-Apr-2021

# Loops Continued

In [ ]:
r = range(10)
print(r)
print(type(r))
print(list(r))
print(list(r))
print(tuple(r))

In [ ]:
print(list(range(10)))

In [ ]:
print(list(range(20)))

In [ ]:
print(list(range(10,20)))

In [ ]:
print(list(range(10,30)))

In [ ]:
r = range(10,30,2)
mylist = list(r)
print(mylist)

In [ ]:
## 20,19,18,17,16,15

print(list(range(20,14,-1)))

In [ ]:
print(list(range(10,15,1)))


##  10,11,12,13,14,  ########15,16,17,18,19,.....

In [ ]:
print(list(range(20,14,-1)))

## 20, 19,18,17,16,15, ########14,13,12....

In [ ]:
print(list(range(20,14,-2)))


##20, 18,16,####  14,12,10...

In [ ]:
r = range(10,5,1)

## 10,11,12,13....
print(r)
print(list(r))

In [ ]:
r = range(10.2,15.9,1.2)
print(list(r))

In [ ]:
print(list(range(30,61,2)))

In [ ]:
print(list(range(30,60,2)))

In [ ]:
m = int(input('enter the marks obtained'))

if(m<35):
    print("you are failed, you need ",35-m,'more marks to pass')
elif(35<=m<=50):
    print('you passed, you need', 50-m,'more marks to get into second class')
elif(50<=m<=60):
    print('you passed in second class, you need', 60-m,'more marks to get into first class')
elif(60<=m<=70):
    print('you passed in first class, you need', 70-m,'more marks to get into Distinction')
else:
    print('you passed in Distinction')

In [ ]:
num = 10
while(num <= 30):
    print(num)
    num = num + 1

In [ ]:
lower_number = 10
upper_number = 30
while(lower_number <= upper_number):
    print(lower_number)
    lower_number = lower_number + 1

### grammer  for while loop

while condition:   ## condition should be based on the LoopControlVariable
   statement1
   statement2
   statement3
   ...
   ...
   last_statement

In [ ]:
350...500

In [ ]:
lower_number = 350
upper_number = 500
while(lower_number <= upper_number):
    if lower_number % 7 == 0:
        print(lower_number)
    lower_number = lower_number + 1

In [ ]:
lower_number = 350
upper_number = 500
while(lower_number <= upper_number and lower_number % 7 == 0):
    print(lower_number)
    lower_number = lower_number + 7

In [ ]:
i=349
while (i<=500):
    while i%7==0:
        print(i)
        break
    i+=1

In [ ]:
for num in range(10,30,2):
    print(num)

print('Done')

In [ ]:
r = range(30,10,-2)
for num in r:
    print(num)

print('Done')

In [ ]:
md1 = {'Bank': 'SBI', 'Branch':'MGROAD', 'City':'Blr'}

In [ ]:
for k in md1.keys():
    print(k)

In [ ]:
for v in md1.values():
    print(v)

In [ ]:
for i in md1.items():
    print(i)

In [ ]:
list(md1.items())

In [ ]:
a,b = 10,20    ### positional mapping
print(a)
print(b)

In [ ]:
a,b,c = 10,20    ###  statement is ambiguous

In [ ]:
a,b,c = 10,20,30,40    ###  statement is ambiguous

In [ ]:
a = 10,20,30,40,50    ### packing of values as a tuple, becuase there is only one variable
print(a)
print(type(a))
for item in a:
    print(item)

In [ ]:
a = (10,20)
print(a)

In [ ]:
a,b = (10,20)   ### tuple will be unpacked
print(a)
print(b)

In [ ]:
a,b = (10,20,30)   #
print(a)
print(b)

In [ ]:
for i in md1.items():
    print(i)

In [ ]:
for k,v in md1.items():    ### on the fly unpacking happens
    print(k,v)

In [ ]:
for k,v,i in md1.items():    ### on the fly unpacking is attempted.. but fails. because .items is tuple of 2 elements only
    print(k,v)

In [ ]:
for k,v in enumerate(md1.items()):
    print(k,v)

In [ ]:
list(enumerate(md1.items()))

In [ ]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 }, 'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 'Norway': { 'Capital':'Oslo', 'Population':0.533 } }
print(europe.keys())
print(europe.values())
kt = ('Spain', 'France', 'Germany', 'Norway')
k = ('Capital', 'Population')
v1 = ('Madrid', 4.77)
v2 = ('Paris', 6.77)

md1 = dict(zip(k,v1))
print(md1)

md2 = dict(zip(k,v2))
print(md2)

md = dict(zip(kt,zip(md1,md2)))
md


### TBD

In [ ]:
europe['Germany']['Population']

In [ ]:
europe.get('Germany').get('Population')

In [ ]:
list(zip(md1,md2))

In [ ]:
for letter in 'python':
    if letter == 'h':
        break
    
    print(letter)
    
print('Done')

In [ ]:
for letter in 'python':
    if letter == 'h':
        continue
    
    print(letter)
    
print('Done')

In [ ]:
for letter in 'python':
    print(letter)
else:
    print('Done')

In [ ]:
for letter in 'python':
    print(letter)
    if letter == 'h':
        break
else:
    print('Done')

In [ ]:
for letter in "python":
    if letter == 'h':
        break
    print(letter)


print('Done')

In [ ]:
lcount = 9
while(lcount > 0):
    print(lcount)
    if lcount == 5:
       break
    lcount = lcount - 1
    print(lcount)

In [ ]:
a = 9
while(a>0):
    print(a)
    if a == 5:
        break
    a = a - 1
print('bdone')

In [ ]:
lcount=9
while(lcount>0):
    print(lcount)
    if lcount==5:
        break
    lcount=lcount-1
print("done")

In [ ]:
a=['Capital','Popu']
b=['Mad',4.77]
c=['Paris','8.9']
d=['Spain','France']
print(dict(zip(d,[dict(zip(a,b)),dict(zip(a,c))])))

# List Comprehension

In [ ]:
##  [1,4,9,16,25,36]   [1sq, 2sq, 3sq, 4sq, 5sq, 6sq]

In [ ]:
sqlist = []
for num in range(1,7):
    sqlist.append(num ** 2)
print(sqlist)

In [ ]:
2 ** 3

In [ ]:
4 ** 2

In [ ]:
slist = [  num**2      for num in range(1,7)  ]
print(slist)

In [ ]:
## 2p0, 2p1, 2p2, 2p3, 2p4, 2p5 

##[ 1, 2,4,8,16,32]

In [ ]:
tlist = []
for num in range(0,6):
    tlist.append(2**num)
print(tlist)

In [ ]:
slist = [ 2 ** n   for n in range(0,6)]
print(slist)

### Grammer signature 1 of List comp

final_list = [ <2. final_expression for each iteration>    <1. for loop iteration>  ]

## control_flow:   1,2  1,2,  1,2  1-Stops

In [ ]:
a = (1, 2)
b = (3, 4)
#print(a+b)
mylist = [a+b]
print(mylist)
plist = [print(x) for x in mylist  ]
print(plist)

In [ ]:
x = print('hello')
print(x)

In [ ]:
print(type(None))

In [ ]:
mt1 = {'a','b','c'}
ms1 = str(mt1)
for char in ms1:
    print(char)

In [ ]:
mt1 = ('a','b','c')
''.join(mt1)

In [ ]:
alist=[4,8,12,16]    
print(alist)
alist[1:4]=[20,24,28]                                                                
print(alist)

In [ ]:
list(range(20,10,-1))

In [ ]:
20,19,18

In [ ]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 }, 'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 'Norway': { 'Capital':'Oslo', 'Population':0.533 } }
print(europe.keys())
print(europe.values())

In [ ]:
a=['Capital','Population']
b=['Madrid',4.77]
c=['Paris','8.9']
d=['Spain','France']
print(dict(zip(d,[dict(zip(a,b)),dict(zip(a,c))])))

In [ ]:
a=['Capital','Population']
b=['Madrid',4.77]
c=['Paris','8.9']
d=['Spain','France']

md1 = dict(zip(a,c))
md2 = dict(zip(a,b))
print(md1)
print(md2)
md3 = dict(zip(d,[md1,md2]))
md3

# 07-Apr-2021

# List Comprehension Continued

In [ ]:
mylist1 = list(range(1,60,3))
print(mylist1)

evenlist = []
for num in mylist1:
    if num % 2 == 0:
        evenlist.append(num)
print(evenlist)

In [ ]:
mylist1 = list(range(1,60,3))
print(mylist1)
print()
evenlist1 = [   num        for num in mylist1   if num % 2 == 0]
print(evenlist1)

Grammer of Signature # 2


final_list = [  <3. final_expression only if gating condition is True>     <1. for loop iteration>    <2. Gating condition check for every iteration> ]

control_flow:  1,2T,3  1,2T,3  1,2F  1,2F,  1,2T,3   1-Stops...

In [ ]:
mylist1 = list(range(1,200,5))
print(mylist1)

In [ ]:
m23list = [  num*1  for num in mylist1   if num %2 == 0  and num%3 == 0]
print(m23list)

In [ ]:
mylist1 = list(range(10))
print(mylist1)


###  [o2 13  22  33  42  53  .... 82 93  ]

###  [0, 1, 4, 27, 16, 125, 36, 343, 64, 729 ]

## even_square, odd_cubed

In [ ]:
9**3

In [ ]:
eolist = []
for num in mylist1:
    if num % 2 == 0:
        eolist.append(num**2)
    else:
        eolist.append(num**3)
print(eolist)

In [ ]:
mylist1 = list(range(10))
print(mylist1)
print()

eolist1 = [ num**2 if num%2==0 else num **3           for num in mylist1   ]
print(eolist)

## Grammer Signature # 3

final_list = [ <2. final_exp_T if cond is True else final_exp_F>         <1. for loop>   ]

control_flow: 1,2  1,2  1,2  1-Stops

In [ ]:
mylist1 = list(range(10))
print(mylist1)
print()

In [ ]:
###    ["0-Even", "1-Odd", "2-Even", "3-Odd"...]

In [ ]:
mylist2= list(range(10))
flist=[ str(num)+'-even' if num%2==0 else str(num)+'-odd'                   for num in mylist2]
print(flist)

In [ ]:
mylist1 = list(range(1,30))
print(mylist1)


###  [16,36,64,729,100,144,196,15**3...]

In [ ]:
##even-sq or odd_cb only if number is NOT prime

In [ ]:
def isPrime(num):
    if num < 2:
        return False
    
    for divisor in range(2,num):
        if num % divisor == 0:
            return False
        
    return True

In [ ]:
isPrime(33)

In [ ]:
mylist1 = list(range(1,30))
print(mylist1)
mylist2 = []

for num in mylist1:
    if isPrime(num) == False:
        if num % 2 == 0:
            mylist2.append(num**2)
        else:
            mylist2.append(num**3)
            
print(mylist2)

In [ ]:
mylist1 = list(range(1,30))
print(mylist1)
print()

mylist3 = [ num**2 if num%2 == 0 else num ** 3     for num in mylist1   if isPrime(num) == False   ]

print(mylist3)

### Grammer Signature # 4


final_list = [ <3. final_expressions based on condition>  <1. for loop iteration>  <2. Gating condition>]

control_flow:  1,2T,3  1,2F,  1,2T,3  1-Stops...

In [ ]:
mylist1 = list(range(1,30))
print(mylist1)
mylist2 = []

for num in mylist1:
    if isPrime(num) == True:
        mylist2.append('p'+str(num))
    else:
        if num % 2 == 0:
            mylist2.append('e'+str(num))
        else:
            mylist2.append('o'+str(num))
            
print(mylist2)

In [ ]:
mylist22 = ['p'+str(num) if isPrime(num) == True else 'e'+str(num) if num % 2 == 0 else 'o'+str(num)   for num in mylist1]
print(mylist22)

In [ ]:


ulist = ['u1', 'u2' ,'u3']
plist = ['p1', 'p2','p3']#uplist = [('u1', 'p1'), ('u1', 'p2'), ('u1', 'p3'), ('u2', 'p1'), ('u2', 'p2'), ('u2', 'p3'), ('u3', 'p1'), ('u3', 'p2'), ('u3', 'p3')]

In [ ]:
ulist = ['u1', 'u2' ,'u3']
plist = ['p1', 'p2','p3']

uplist = []
for u in ulist:
    for p in plist:
        uplist.append((u,p))
        
print(uplist)

In [ ]:
uplist1 = [ (u,p)   for u in ulist  for p in plist]
print(uplist1)

## Grammer for Loop Nesting Signature # 5

final_list = [  <3. final_expresion on every iteration of level1 loop> <1. for loop level0>  <2. for loop level1. on every iteration of level0 loop>]

control_flow: 1,2,3,2,3,2,3,2-Stops  1,2,3,2,3,2-Stops  1-Stops....

In [ ]:
ulist = ['u1', 'u2' ,'u3']
plist = ['p1', 'p2','p3']

##uplist = [('u1', 'p1'), ('u1', 'p3'), ('u3', 'p1'), ('u3', 'p3')]

uplist = []

for u in ulist:
    if u != 'u2':
        for p in plist:
            if p != 'p2':
                uplist.append((u,p))
print(uplist)

In [ ]:
uplist1 = [ (u,p)  for u in ulist  if u != 'u2'  for p in plist  if p != 'p2']
print(uplist1)

Set Comprehension

In [ ]:
mylist1 = [ num%3  for num in range(20)]
print(mylist1)

In [ ]:
myset1 = { num%3  for num in range(20) }
print(myset1)

In [ ]:
## give me all multiples of 2 or 3 bn 10 and 100

In [ ]:
myset1 = { num*mp  for num in range(10,100) for mp in range(2,4)}
print(myset1)

In [ ]:
myset1 = [ num*mp  for num in range(10,100) for mp in range(2,4)]
print(myset1)

Dict Comprehension

In [ ]:
md1 = { 'n'+str(num) : num for num in range(10)}
print(md1)

In [ ]:
str(23) +' hello'

In [ ]:
str(0)

In [ ]:
'n'+'0'

In [63]:
vk= { 'n'+str(n):(n,n+1)     for n in range(10,20) if n%2==0}
print(vk)

{'n10': (10, 11), 'n12': (12, 13), 'n14': (14, 15), 'n16': (16, 17), 'n18': (18, 19)}

In [68]:
def myadd(n1,n2):
    s = n1 + n2
    
    return s

In [69]:
s1 = myadd(100,200)
print(s1)

300

In [70]:
mylist1 = [10,20,30,40]
i = mylist1.index(30)
print(i)

2

In [71]:
md1 = {  'n'+str(num) if num % 2 == 0 else 'k'+str(num) :  num for num in range(0,20)}
print(md1)

{'n0': 0, 'k1': 1, 'n2': 2, 'k3': 3, 'n4': 4, 'k5': 5, 'n6': 6, 'k7': 7, 'n8': 8, 'k9': 9, 'n10': 10, 'k11': 11, 'n12': 12, 'k13': 13, 'n14': 14, 'k15': 15, 'n16': 16, 'k17': 17, 'n18': 18, 'k19': 19}

In [74]:
i = 20
i = i + 2
print(i)

22

In [76]:
i = 20
i += 2   ##  read i, add 2 to it, and write back the result in i itself
print(i)

22

In [84]:
mylist1 = [1,2,0,3,True,False,'hello']

In [78]:
mylist1

[1, 2, 3, True, 'hello']

In [79]:
int(True)

1

In [80]:
mylist1.remove('hello')
mylist1

[1, 2, 3, True]

In [85]:
mylist1.remove(True)
mylist1

[2, 0, 3, True, False, 'hello']

In [86]:
mylist1.remove(False)
mylist1

[2, 3, True, False, 'hello']

In [87]:
mylist1 = list('pythonworld')

In [88]:
mylist1.index('o')

4

In [90]:
list(enumerate(mylist1))

[(0, 'p'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, 'w'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd')]

In [91]:
mylist1 = list('pythonworld')
indexlist = [ i  for i,v in enumerate(mylist1) if v == 'o']
print(indexlist)

[4, 7]

In [92]:
mylist1 = [1,2,0,3,True,False,'hello']
indexlist = [ i  for i,v in enumerate(mylist1) if v == 1]
print(indexlist)

[0, 4]

In [93]:
bool(True)

True

In [95]:
mylist1 = [1,2,0,3,True,False,'hello']
mylist1.remove(bool(True))
mylist1

[2, 0, 3, True, False, 'hello']

In [105]:
mylist1 = [1,2,0,3,True,False,'hello']
indexlist = [ i  for i,v in enumerate(mylist1) if str(v) == str(True)]
print(indexlist)

[4]

In [97]:
isinstance(True,int)

True

In [98]:
isinstance(True,bool)

True

In [99]:
id(1)

8791233013536

In [100]:
id(True)

8791232730960

In [101]:
1 == True

True

In [102]:
1 is True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-102-63176c6536ac>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is True

False

In [103]:
str(True)

'True'