<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>string = "Hello, welcome to my world." </b>

In [1]:
string = "Hello, welcome to my world."

# get the index value of 'o' for the word 'Hello'
# pass the start index as 0
# pass the end index as 5 
x = string.rindex("o", 0, 5)
print("Index position of 'o' in 'Hello':", x)    

# get the index value of 'o' for the word 'welcome'
# pass the start index as 5
# pass the end index as 14
y = string.rindex("o", 7, 14) 
print("Index position of 'o' in 'welcome':", y)    

# add the indices of character 'o' of word hello and 'o' of the word 'welcome'
# print the character at the index position 15
print('Character at index position 15:', string[x+y])

Index position of 'o' in 'Hello': 4
Index position of 'o' in 'welcome': 11
Character at index position 15: t

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# the 'comma' after 5 returns a tuple
# without the 'comma', 't' will be interpreted as integer 
t = (5,)
print('Type of t:', type(t))

Type of t: <class 'tuple'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [2]:
dictionary_1={'A':1, 'B':2}
dictionary_2={'C':3}

# use update to concatenate two dictionaries 
dictionary_1.update(dictionary_2)
print("Concatenated dictionary is:", dictionary_1)

Concatenated dictionary is: {'A': 1, 'B': 2, 'C': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sets below (or create your own sets):**

#### Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

#### Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

In [3]:
# Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }
# Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

print('Are X and Y disjoint?', X.isdisjoint(Y))
if (X.isdisjoint(Y) == False):
    print('Intersection of X and Y:', X.intersection(Y))
else:
    print('Sets are disjoint')

Are X and Y disjoint? False
Intersection of X and Y: {34, 67, 12, 45, 23, 56, 89}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Retrieve the third element in the given list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [4]:
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

# list indices starts from 0
print('Third element:', num_list[2])

Third element: 6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Count the occurance of number -6 in the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**
    
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

In [5]:
# given tuple
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

# count the number of times '-6' occurs in a given tuple
num_tuple.count(-6)

3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Check whether the number 53 is in the given list or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [6]:
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

# check if the element '53' is present in the list or not
# the output will be boolean
print(53 in num_list)

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [7]:
numbers = {2, 3, 4, 5}

# remove the number 3
numbers.discard(3)
print('updated_numbers = ', numbers)

updated_numbers =  {2, 4, 5}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

num_list = [24, 18, 24, 47, 52]

In [8]:
num_list = [24, 18, 24, 47, 52]

# xonvert a list to a tuple
converted_list =  tuple(num_list)

# check the type 
print(type(converted_list))

# print the values
print(converted_list)

<class 'tuple'>
(24, 18, 24, 47, 52)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [9]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

# retrieve the capital of Germany
print (europe['Germany']['Capital'])

Berlin

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Find maximum and the minimum value from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the elements:**
    
5, 10, 3, 15, 2, 20, 10, 5, 4, 3

In [10]:
# create a set
num_set = set([5, 10, 3, 15, 2, 20, 10, 5, 4, 3])

# maximum value
print('Maximum:', max(num_set))

# minimum value
print('Minimum:', min(num_set))

Maximum: 20
Minimum: 2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [8]:
s1 = str(input("Enter a string : "))
s2 = str(input("Enter a string : "))

if(sorted(s1.lower())== sorted(s2.lower())): 
    print("The strings are anagrams.")  
else: 
    print("The strings aren't anagrams.")

Enter a string : eat
Enter a string : ate
The strings are anagrams.