# Tuples

In [2]:
mytuple=tuple('python world')

In [3]:
type(mytuple)

tuple

In [4]:
len(mytuple)

12

In [5]:
mytuple[0]

'p'

In [6]:
mytuple[0]='c' #Typeerror

TypeError: 'tuple' object does not support item assignment

In [6]:
mt1=(222,333,[444,555,666],777)

In [11]:
type(mt1[0])

int

In [13]:
type(mt1[1])

int

In [12]:
type(mt1[2])

list

In [14]:
type(mt1[3])

int

In [15]:
mt1[2] = 999

TypeError: 'tuple' object does not support item assignment

In [17]:
mt1[2][0]=999

In [18]:
mt1

(222, 333, [999, 555, 666], 777)

In [19]:
mt1[2][0]=444.555

In [20]:
mt1

(222, 333, [444.555, 555, 666], 777)

In [2]:
myList1 = [222,333,444,'python',555,666]

In [22]:
myList1[0]=222.99

In [23]:
myList1

[222.99, 333, 444, 'python', 555, 666]

In [24]:
myList1[3]

'python'

In [27]:
myList1[3][0]='c' #Strings are immutable hence error

TypeError: 'str' object does not support item assignment

In [28]:
type(myList1[3])

str

In [3]:
myList1[3] = 888

In [4]:
myList1

[222, 333, 444, 888, 555, 666]

In [5]:
len(myList1)

6

In [7]:
len(mt1)

4

In [8]:
mt1

(222, 333, [444, 555, 666], 777)

In [10]:
mt1[6] #Index out of Range

IndexError: tuple index out of range

In [11]:
value=(123)

In [12]:
type(value)

int

In [13]:
val=(123,)

In [15]:
type(val)

tuple

In [18]:
mt2=(1,2,3)+(4,5,6) #Concatenation

In [20]:
mt2

(1, 2, 3, 4, 5, 6)

mt2 = (1,2,3) * 3

In [24]:
mt2 * 3 # Self concatenation the number of times it is provided

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [25]:
type(mt2)

tuple

In [31]:
mt3=[(1,2,3),5] * 2

In [29]:
mt3[0]

(1, 2, 3)

In [41]:
mystring='Tulika Sinha'
myt=tuple(mystring)

In [42]:
myt

('T', 'u', 'l', 'i', 'k', 'a', ' ', 'S', 'i', 'n', 'h', 'a')

In [34]:
'T' in myt

True

In [38]:
't' in myt

False

In [39]:
'y' not in myt

True

In [40]:
mt1=(1,)+(2345)
print(mt1)
print(type(mt1))

TypeError: can only concatenate tuple (not "int") to tuple

In [43]:
dir

In [44]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [45]:
mt1=tuple('pythonworld')
print(mt1)

('p', 'y', 't', 'h', 'o', 'n', 'w', 'o', 'r', 'l', 'd')

In [46]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [47]:
mt1.count('o')

2

In [48]:
mt1.index('o')

4

In [52]:
mt1[1:5]

('y', 't', 'h', 'o')

In [51]:
mt1.index('o',1,5)

4