# 29-March-2021.

# Tuples

In [ ]:
mt1 = tuple('python world')

In [ ]:
mt1

In [ ]:
print(type(mt1))

In [ ]:
len(mt1)

In [ ]:
mt1[0]

In [ ]:
mt1[0] = 'c'

In [ ]:
mylist1 = [22,33,44]
print(mylist1)
print(mylist1[0])
mylist1[0] = 222
print(mylist1)

In [ ]:
mt1 = (22,33,44)
print(mt1)
print(mt1[0])
mt1[0] = 222

In [ ]:
mt1 = (222,333,[444,555,666], 777)
print(mt1)
print(mt1[0], type(mt1[0]))
print(mt1[1], type(mt1[1]))
print(mt1[2], type(mt1[2]))
print(mt1[3], type(mt1[3]))

In [ ]:
mt1[2] = 999

In [ ]:
mt1[2][0]

In [ ]:
mt1[2][0] = 444.555

In [ ]:
mt1

In [ ]:
mylist1 = [222,333,444, 'python', 555,666]

In [ ]:
mylist1[0]

In [ ]:
mylist1[0] = 222.999

In [ ]:
mylist1

In [ ]:
mylist1[3]

In [ ]:
mylist1[3][0] = 'C'

In [ ]:
type(mylist1[3])

In [ ]:
mylist1

In [ ]:
mylist1[3]

In [ ]:
mylist1[3] = 8888

In [ ]:
mylist1

In [ ]:
mt1 = (123)
print(mt1)
print(type(mt1))

In [ ]:
5+4*3

In [ ]:
(5+4)*3

In [ ]:
mt1 = (123)
print(mt1)
print(type(mt1))

In [ ]:
mt1 = (123,)
print(mt1)
print(type(mt1))

In [ ]:
mt1[0]

In [ ]:
mt1[1]

In [ ]:
mt1[-1]

In [ ]:
mt2 = (1,2,3) + (4,5,6)
print(mt2)
print(type(mt2))

In [ ]:
mt3 = (1,2,3) * 4
print(mt3)
print(type(mt3))

mt4 = (1,2,3) + (1,2,3) + (1,2,3) + (1,2,3)
print(mt4)

In [ ]:
(1,2,3)  + [4,5,6]

In [ ]:
(1,2,3) + ([4,5,6],)

In [ ]:
mt1 = tuple('python worldof datasceince')
print(mt1)
print(type(mt1))
print(len(mt1))

In [ ]:
'y' in mt1

In [ ]:
'z' in mt1

In [ ]:
'z' not in mt1

In [ ]:
'y' not in mt1

In [ ]:
'good' in 'this is a good book'

In [ ]:
'good' in ' this is a superb book'

In [ ]:
accnumlist = [123,456,789,145,478,879]

In [ ]:
478 in accnumlist

In [ ]:
479 in accnumlist

In [ ]:
if 898 not in accnumlist:
    print('issue this accnum')

In [ ]:
mt= ('python',2,[3,'a'])

In [ ]:
'a' in mt[-1]

In [ ]:
a="hello"
mylist2 = list(a)
print(mylist2)
print(a)

In [ ]:
ms1 = 'hello'

In [ ]:
type(ms1)

In [ ]:
ms1[0]

In [ ]:
type(ms1[0])

In [ ]:
n1 = 1234
mylist1 = list(n1)

In [ ]:
str(93)

In [ ]:
20('hello')

In [ ]:
a="hello"
print(list(a))

In [ ]:
list = 20
a="hello"
print(list(a))

## after this restart your kernel again

In [ ]:
dir(tuple)

In [ ]:
mt1 = tuple('pythonworld')
print(mt1)

In [ ]:
help(tuple.count)

In [ ]:
mt1.count('o')

In [ ]:
print(mt1)
mt1.index('o')

In [ ]:
mt1.index('o',1,5)

In [ ]:
mt1[1:5]

In [ ]:
max([22,33,11,66,44,24])

In [ ]:
min([22,33,11,66,44,24])

In [ ]:
max((22,33,11,66,44,24))

In [ ]:
o=(1,2,4,3,)

f=()
for i in o:
    if i==4:
        f+=(5,)
    else:
        f+=(i,)
o=f
print(o)
print(f)

In [ ]:
mt1 = ('abcd', 'efgh', 'pqrs')
mt1[1] = 'wxyz'

In [ ]:
mt1 = ('abcd', 'efgh', 'pqrs')
print(1, mt1)
mylist1 = list(mt1)
print(2, mylist1)
mylist1[1] = 'wxyz'
print(3, mylist1)
mt1 = tuple(mylist1)
print(4, mt1)

# Dictionary

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MGRoad', 91:'India'}

In [ ]:
print(type(md1))

In [ ]:
md1[0]

In [ ]:
md1[91]

In [ ]:
md1['Bank']

In [ ]:
md1

In [ ]:
md1['City']

In [ ]:
md1['City'] = 'Del'

In [ ]:
md1

In [ ]:
md1['City']

In [ ]:
md1['Branch'] = 'Market'

In [ ]:
md1

In [ ]:
md2 = {'Bank': 'SBI', 'Branch': 'MGRoad', 91:'India', 'Branch': 'Market'}
print(md2)

In [ ]:
md2 = {'Bank': 'SBI', 'Branch': 'Blr', 91:'India', 'Branch': 'Del', 'City': 'Del'}
print(md2)

In [ ]:
md3 = {'Maths': [22,33,44,55], 'Science': [66,77,88,99]}
print(md3)

In [ ]:
dir(dict)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

In [ ]:
len(md1)

In [ ]:
mk = md1.keys()
print(type(mk))
print(mk)        #### list-like object
mykeylist = list(mk)
print(mykeylist)

In [ ]:
mykeylist = list(md1.keys())
print(mykeylist)

In [ ]:
myvaluelist = list(md1.values())
print(myvaluelist)

In [ ]:
myitemlist = list(md1.items())
print(myitemlist)

In [ ]:
print(md1)
mi = md1.items()
print(type(mi))
print(mi)        #### list-like object
myitemlist = list(mi)
print(myitemlist)

In [ ]:
print(md1)
#mi = md1.items()
print(type(md1.items()))

In [ ]:
list(md1)

In [ ]:
md1

In [ ]:
md1['Branch']

In [ ]:
md1['Branch'] = ['Mgroad', 'Market', 'Majestic']

In [ ]:
md1

In [ ]:
print(md1)

In [ ]:
md1['Branch'].append('Vijaynagar')

In [ ]:
md1

In [ ]:
md1['Bank'].append('Vijaynagar')  ### error

31-3-2021

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

In [ ]:
x = md1.get('Branch')
print(x)

In [ ]:
x = md1.get('Branch1')
print(x)

In [ ]:
x = md1.get('Hello', 'Unknown')
print(x)

In [ ]:
x = md1.get('Branch', 'Unknown')
print(x)

In [ ]:
x = md1.get(('Branch', 'City'))
print(x)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch1')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch1', 'KeyNotAvailable')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch', 'KeyNotAvailable')
print(x)
print(md1)

In [ ]:
md1 = {}
print(md1)
x = md1.pop('Branch', 'KeyNotAvailable')
print(x)
print(md1)

In [ ]:
md1 = {}
print(md1)
x = md1.pop('Branch')
print(x)
print(md1)

In [ ]:
md1 = {}
print(md1)
x = md1.get('Branch')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

md2 = {'State': 'KA', 'City' : 'Mysore'}
print(md2)
print()
md1.update(md2) ## new keys will get added, existing keys will get modified
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('State')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('State', 'KA')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('Branch')
print(x)
print(md1)

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('Branch', 'Market')
print(x)
print(md1)

In [ ]:
mt1 = ('Bank', 'City', 'Branch')
md1 = dict.fromkeys(mt1)
print(md1)

In [ ]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
md1 = dict.fromkeys(mt1,mt2)
print(md1)

In [ ]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
## md1 = {'Bank': 'SBI', 'City':'Blr', 'Branch':'MGROAD'}

In [ ]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
z = zip(mt1,mt2)   ## zip return an o/p, which can be consumed only once. it is called ITERATOR.. temporary one time readable container of values
print(type(z))
print(z)
print(list(z))
print(list(z))

In [ ]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
z = zip(mt1,mt2)   ## zip return an o/p, which can be consumed only once. it is called ITERATOR.. temporary one time readable container of values
print(type(z))
mylist1 = list(z)
print(mylist1)
md1 = dict(mylist1)
print(md1)

In [ ]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('Blr', 'MGROAD','SBI', )
md1 = dict(zip(mt1,mt2))
print(md1)

In [ ]:
mt1 = ('Bank', 'City', 'Branch', 91)
mt2 = ('Blr', 'MGROAD','SBI', )
md1 = dict(zip(mt1,mt2))
print(md1)

In [ ]:
mylist1 = [11,22,33]   ###  list or tuple is called an ITERABLE.. because they persist in memory.
print(mylist1)
print(mylist1)

In [ ]:
md1 = { 2:"python","100":md2}
md2={"innerdict":{"innerdict1": 1234},7:0}
z = zip(md1,md2)
print(list(z))

In [ ]:
list(md1)

In [ ]:
list(md2)

In [ ]:
md1

In [ ]:
list(md1.keys())

In [ ]:
mt1 = ('Bank', 'City', 'Branch', 'Bank')
mt2 = ('SBI', 'Blr', 'MGROAD', 'Axis' )
md1 = dict(zip(mt1,mt2))
print(md1)

# Sets

In [ ]:
myset1 = {2,4,6,8,10,2,4,6}
print(myset1)
print(len(myset1))
print(type(myset1))

In [ ]:
mylist1 = [2,4,6,8,10,2,4,6]
print(mylist1)
print(len(mylist1))
print(type(mylist1))
print()
newset1 = set(mylist1)
print(newset1)
print(len(newset1))
print(type(newset1))
print()
mylist1 = list(newset1)
print(mylist1)
print(len(mylist1))
print(type(mylist1))

In [ ]:
mylist1 = [2,4,6,8,10,2,4,6]
mylist1 = list(set(mylist1))
print(mylist1)

In [ ]:
myset1 = set()
print(len(myset1))
print(type(myset1))

myset1.add(20)
myset1.add(30)
myset1.add(50)
myset1.add(40)
myset1.add(20)
print(myset1)

In [ ]:
dir(set)

In [ ]:
myset1 = {2,4,6,8,10}
x = myset1.pop(); print(x)
print(myset1)

In [ ]:
myset1[0]

In [77]:
s1 = {2,4,6,1,3,5, (100,200,300)}
s2 = {2,4,6,11,13,15}

In [78]:
s1.intersection(s2)

{2, 4, 6}

In [79]:
s1.union(s2)

{(100, 200, 300), 1, 11, 13, 15, 2, 3, 4, 5, 6}

In [80]:
s1.symmetric_difference(s2)

{(100, 200, 300), 1, 11, 13, 15, 3, 5}

# Decision Making

In [93]:
for value in "PyTHONwORLD":
    print(value)
    if value.islower():
        print('lowercase')

P
y
lowercase
T
H
O
N
w
lowercase
O
R
L
D

In [89]:
ord('$')

36

In [90]:
chr(36)

'$'

In [91]:
ord('A')

65

In [96]:
for letter in 'python':
    print(letter)
    
print('hello')
print('world')
print(23+45)

p
y
t
h
o
n
hello
world
68