In [6]:
mt1 = ('Bank','City','Branch')
mt2 = ('SBI','Blr','MGROAD')
z=zip(mt1,mt2)
print(type(z))
myList=list(z)
print(myList)
mydic=dict(myList)
print(mydic)

<class 'zip'>
[('Bank', 'SBI'), ('City', 'Blr'), ('Branch', 'MGROAD')]
{'Bank': 'SBI', 'City': 'Blr', 'Branch': 'MGROAD'}

In [2]:
print(z)

<zip object at 0x000001DB8D20E7C0>

In [7]:
print(z)

<zip object at 0x000001DB8E2B1040>

In [8]:
print(z)

<zip object at 0x000001DB8E2B1040>

# Practice

In [1]:
mt1=tuple('Python world')    # Creation of tuple

In [2]:
mt1  #Tuple Printed

('P', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd')

In [4]:
type(mt1)   #Type of mt1

tuple

In [5]:
#length of tuple
len(mt1)

12

In [6]:
mt1[0]

'P'

In [8]:
mt1[0]='c'  #Immutable

TypeError: 'tuple' object does not support item assignment

In [10]:
mylist1=[22,33,44]
print(type(mylist1))
print(mylist1[0])
mylist1[0]=22.333
print(mylist1)

<class 'list'>
22
[22.333, 33, 44]

In [13]:
mt1=(22,33,44,[443,444,445])
print(mt1)
print(mt1[0])
print(mt1[1])
print(mt1[2])
print(mt1[3][0])

(22, 33, 44, [443, 444, 445])
22
33
44
443

In [17]:
mt2=(123,)    #Assign tuple single times
type(mt2)

tuple

In [18]:
5+4*3

17

In [19]:
(5+4)*3

27

In [20]:
mt2[0]

123

In [21]:
mt2[-1]

123

In [23]:
mt1=(1,2,3)+(4,5,6)    #concatenation
print(mt1)

(1, 2, 3, 4, 5, 6)

In [25]:
mt1=(1,2,3)*3    #selfconcatenation
print(mt1)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [26]:
(1,2,3)+[3,4]

TypeError: can only concatenate tuple (not "list") to tuple

In [28]:
(1,2,3)+([4,5,6],)

(1, 2, 3, [4, 5, 6])

In [29]:
mt1=tuple('Python worldofdatascience')
print(mt1)
print(type(mt1))
print(len(mt1))

('P', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd', 'o', 'f', 'd', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e')
<class 'tuple'>
25

In [30]:
y in mt1

NameError: name 'y' is not defined

In [32]:
'y' in mt1    #Membership Operator

True

In [33]:
'z' in mt1

False

In [34]:
'z' not in mt1

True

In [35]:
'y' not in mt1

False

In [36]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [37]:
sqList=[]
for num in range(1,6):
    sqList.append(2**num)
print(sqList)

[2, 4, 8, 16, 32]

In [38]:
sqList1=[ 2**num  for num in range(1,6)]
print(sqList1)

[2, 4, 8, 16, 32]

In [39]:
myList1=range(10)
myList=[]
for num in myList1:
    if num%2==0:
        myList.append(str(num)+"-Even")
    else:
        myList.append(str(num)+"-Odd")
print(myList)

['0-Even', '1-Odd', '2-Even', '3-Odd', '4-Even', '5-Odd', '6-Even', '7-Odd', '8-Even', '9-Odd']

In [40]:
myList1=range(10)
myList=[str(num)+"-Even" if num%2==0 else str(num)+"-Odd"      for num in myList1]
print(myList)

['0-Even', '1-Odd', '2-Even', '3-Odd', '4-Even', '5-Odd', '6-Even', '7-Odd', '8-Even', '9-Odd']

In [41]:
def isPrime(num):
    if num < 2:
        return False
    
    for divisor in range(2,num):
        if num % divisor == 0:
            return False
        
    return True

In [43]:
isPrime(49)

False

In [44]:
myList1=range(1,30)
myList=[]

for num in myList1:
    if isPrime(num)==False:
        if num%2 == 0:
            myList.append(num**2)
    else:
        myList.append(num**3)
        
print(myList)

[1, 8, 27, 16, 125, 36, 343, 64, 81, 100, 1331, 144, 2197, 196, 225, 256, 4913, 324, 6859, 400, 441, 484, 12167, 576, 625, 676, 729, 784, 24389]

In [46]:
myList1=range(1,30)
myList=[]

myList=[num**2  if num%2 == 0 else num**3    for num in myList1  if isPrime(num)==False]
print(myList)

[1, 16, 36, 64, 729, 100, 144, 196, 3375, 256, 324, 400, 9261, 484, 576, 15625, 676, 19683, 784]