# Numpy and Pandas Mid exam paper

###  Dataset Attributes:



* Patient Number	

* State Patient Number	

* Date Announced	

* Estimated Onset Date	

* Age Bracket	

* Gender	

* Detected City	

* Detected District	

* Detected State	

* State code	

* Current Status	

* Notes	

* Contracted from which Patient (Suspected)	

* Nationality	

* Type of transmission	

* Status Change Date	


* Backup Notes

## Kindly change the below cells from markdown to code and execute it

In [52]:
import pandas as pd

import csv

with open("raw_data_covid_India.csv","r")as file:
    
    reader=csv.reader(file)

df=pd.read_csv("raw_data_covid_India.csv")

df.head()

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Backup Notes
0,1,KL-TS-P1,30-01-2020,NaN,20.0,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,Student from Wuhan
1,2,KL-AL-P1,02-02-2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,Student from Wuhan
2,3,KL-KS-P1,03-02-2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,Student from Wuhan
3,4,DL-P1,02-03-2020,NaN,45.0,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15-03-2020,Travel history to Italy and Austria
4,5,TS-P1,02-03-2020,NaN,24.0,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02-03-2020,"Travel history to Dubai, Singapore contact"

In [53]:
df

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Backup Notes
0,1,KL-TS-P1,30-01-2020,NaN,20.0,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,Student from Wuhan
1,2,KL-AL-P1,02-02-2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,Student from Wuhan
2,3,KL-KS-P1,03-02-2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,Student from Wuhan
3,4,DL-P1,02-03-2020,NaN,45.0,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15-03-2020,Travel history to Italy and Austria
4,5,TS-P1,02-03-2020,NaN,24.0,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02-03-2020,"Travel history to Dubai, Singapore contact"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,20331,NaN,22-04-2020,NaN,NaN,NaN,NaN,Patna,Bihar,BR,Hospitalized,Details awaited,NaN,NaN,NaN,NaN,NaN
1470,20332,NaN,22-04-2020,NaN,NaN,NaN,NaN,Patna,Bihar,BR,Hospitalized,Details awaited,NaN,NaN,NaN,NaN,NaN
1471,20333,NaN,22-04-2020,NaN,NaN,NaN,NaN,Patna,Bihar,BR,Hospitalized,Details awaited,NaN,NaN,NaN,NaN,NaN
1472,20334,NaN,22-04-2020,NaN,NaN,NaN,NaN,Nalanda,Bihar,BR,Hospitalized,Details awaited,NaN,NaN,NaN,NaN,NaN
1473,20335,NaN,22-04-2020,NaN,NaN,NaN,NaN,East Champaran,Bihar,BR,Hospitalized,Details awaited,NaN,NaN,NaN,NaN,NaN

-------
# Section A: 8 Marks
-----------

### 1. What are the different types Of data structures in Pandas? (8 Marks)

-------
# Section B: 17 Marks
-----------

### 2. Find the number of recovered and deceased cases in Kerala? (6 Marks)

In [59]:
warnings.filterwarnings("ignore")
#df[df['Detected State']=='Kerala'][df['Current Status']=='Recovered']["Patient Number"].count()

df[df['Detected State']=='Kerala'][df['Current Status']=='Recovered']['Patient Number'].count()

3

In [29]:
df[df['Detected State']=='Kerala'][df['Current Status']=='deceased']["Patient Number"].count()

3

In [6]:
import warnings

###  3. Find the number of Female and Male Recovered from Kerala? (5 Marks)

In [22]:
df[df['Detected State']=='Kerala'][df['Current Status']=='Recovered'][df['Gender']=='F']['Patient Number'].count()

1

In [30]:
df[df['Detected State']=='Kerala'][df['Current Status']=='Recovered'][df['Gender']=='M']['Patient Number'].count()

0

### 4. What is the cause behind the people of Gurugram city to get corona? (6 Marks)

In [31]:
df[df["Detected City"]=='Gurugram']

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Backup Notes
6,7,NaN,04-03-2020,NaN,55.0,NaN,Gurugram,Italians*,Haryana,HR,deceased,Travelled from Italy,P6,Italy,Imported,29-03-2020,Italian tourist
7,8,NaN,04-03-2020,NaN,55.0,NaN,Gurugram,Italians*,Haryana,HR,deceased,Travelled from Italy,P6,Italy,Imported,29-03-2020,Italian tourist

-------
# Section C: 25 Marks
-----------

### 5a. How many people Travelled from Wuhan in Kerala. (5 Marks)

### 5b. How many people  recovered in Kerala ? (3 Marks)

In [37]:
df[df["Notes"]=="Travelled from Wuhan"][df['Detected State']=='Kerala']["Patient Number"].count()

3

In [49]:
df[df['Detected State']=='Kerala'][df['Current Status']=='Recovered']["Patient Number"].count()

3

### 6. Find the percentage of male and female got COVID-19 using the subplots with the combination of (pie & count) graphs at the same time (6 Marks)

### 7. Display the count plot to show the number of people got affected based on states. (5 Marks)

### 8 .  Display the count plot for the Recovered patients in the Detected State column. (6 Marks)