# 29-March-2021.

# Tuples

In [ ]:
mt1 = tuple('python world')

In [ ]:
mt1

In [ ]:
print(type(mt1))

In [ ]:
len(mt1)

In [ ]:
mt1[0]

In [ ]:
mt1[0] = 'c'

In [ ]:
mylist1 = [22,33,44]
print(mylist1)
print(mylist1[0])
mylist1[0] = 222
print(mylist1)

In [ ]:
mt1 = (22,33,44)
print(mt1)
print(mt1[0])
mt1[0] = 222

In [1]:
mt1 = (222,333,[444,555,666], 777)
print(mt1)
print(mt1[0], type(mt1[0]))
print(mt1[1], type(mt1[1]))
print(mt1[2], type(mt1[2]))
print(mt1[3], type(mt1[3]))

(222, 333, [444, 555, 666], 777)
222 <class 'int'>
333 <class 'int'>
[444, 555, 666] <class 'list'>
777 <class 'int'>

In [2]:
mt1[2] = 999

TypeError: 'tuple' object does not support item assignment

In [3]:
mt1[2][0]

444

In [4]:
mt1[2][0] = 444.555

In [5]:
mt1

(222, 333, [444.555, 555, 666], 777)

In [ ]:
mylist1 = [222,333,444, 'python', 555,666]

In [ ]:
mylist1[0]

In [ ]:
mylist1[0] = 222.999

In [ ]:
mylist1

In [ ]:
mylist1[3]

In [ ]:
mylist1[3][0] = 'C'

In [ ]:
type(mylist1[3])

In [ ]:
mylist1

In [ ]:
mylist1[3]

In [ ]:
mylist1[3] = 8888

In [ ]:
mylist1

In [ ]:
mt1 = (123)
print(mt1)
print(type(mt1))

In [ ]:
5+4*3

In [ ]:
(5+4)*3

In [ ]:
mt1 = (123)
print(mt1)
print(type(mt1))

In [ ]:
mt1 = (123,)
print(mt1)
print(type(mt1))

In [ ]:
mt1[0]

In [ ]:
mt1[1]

In [ ]:
mt1[-1]

In [ ]:
mt2 = (1,2,3) + (4,5,6)
print(mt2)
print(type(mt2))

In [ ]:
mt3 = (1,2,3) * 4
print(mt3)
print(type(mt3))

mt4 = (1,2,3) + (1,2,3) + (1,2,3) + (1,2,3)
print(mt4)

In [ ]:
(1,2,3)  + [4,5,6]

In [ ]:
(1,2,3) + ([4,5,6],)

In [ ]:
mt1 = tuple('python worldof datasceince')
print(mt1)
print(type(mt1))
print(len(mt1))

In [ ]:
'y' in mt1

In [ ]:
'z' in mt1

In [ ]:
'z' not in mt1

In [ ]:
'y' not in mt1

In [ ]:
'good' in 'this is a good book'

In [ ]:
'good' in ' this is a superb book'

In [ ]:
accnumlist = [123,456,789,145,478,879]

In [ ]:
478 in accnumlist

In [ ]:
479 in accnumlist

In [ ]:
if 898 not in accnumlist:
    print('issue this accnum')

In [ ]:
mt= ('python',2,[3,'a'])

In [ ]:
'a' in mt[-1]

In [ ]:
a="hello"
mylist2 = list(a)
print(mylist2)
print(a)

In [ ]:
ms1 = 'hello'

In [ ]:
type(ms1)

In [ ]:
ms1[0]

In [ ]:
type(ms1[0])

In [ ]:
n1 = 1234
mylist1 = list(n1)

In [ ]:
str(93)

In [ ]:
20('hello')

In [ ]:
a="hello"
print(list(a))

In [ ]:
list = 20
a="hello"
print(list(a))

## after this restart your kernel again

In [ ]:
dir(tuple)

In [ ]:
mt1 = tuple('pythonworld')
print(mt1)

In [ ]:
help(tuple.count)

In [ ]:
mt1.count('o')

In [ ]:
print(mt1)
mt1.index('o')

In [ ]:
mt1.index('o',1,5)

In [ ]:
mt1[1:5]

In [ ]:
max([22,33,11,66,44,24])

In [ ]:
min([22,33,11,66,44,24])

In [ ]:
max((22,33,11,66,44,24))

In [ ]:
o=(1,2,4,3,)

f=()
for i in o:
    if i==4:
        f+=(5,)
    else:
        f+=(i,)
o=f
print(o)
print(f)

In [ ]:
mt1 = ('abcd', 'efgh', 'pqrs')
mt1[1] = 'wxyz'

In [ ]:
mt1 = ('abcd', 'efgh', 'pqrs')
print(1, mt1)
mylist1 = list(mt1)
print(2, mylist1)
mylist1[1] = 'wxyz'
print(3, mylist1)
mt1 = tuple(mylist1)
print(4, mt1)

# Dictionary

In [6]:
md1 = {'Bank': 'SBI', 'Branch': 'MGRoad', 91:'India'}

In [7]:
print(type(md1))

<class 'dict'>

In [8]:
md1[0]

KeyError: 0

In [9]:
md1[91]

'India'

In [10]:
md1['Bank']

'SBI'

In [11]:
md1

{'Bank': 'SBI', 'Branch': 'MGRoad', 91: 'India'}

In [12]:
md1['City']

KeyError: 'City'

In [13]:
md1['City'] = 'Del'

In [14]:
md1

{'Bank': 'SBI', 'Branch': 'MGRoad', 91: 'India', 'City': 'Del'}

In [15]:
md1['City']

'Del'

In [16]:
md1['Branch'] = 'Market'

In [17]:
md1

{'Bank': 'SBI', 'Branch': 'Market', 91: 'India', 'City': 'Del'}

In [18]:
md2 = {'Bank': 'SBI', 'Branch': 'MGRoad', 91:'India', 'Branch': 'Market'}
print(md2)

{'Bank': 'SBI', 'Branch': 'Market', 91: 'India'}

In [19]:
md2 = {'Bank': 'SBI', 'Branch': 'Blr', 91:'India', 'Branch': 'Del', 'City': 'Del'}
print(md2)

{'Bank': 'SBI', 'Branch': 'Del', 91: 'India', 'City': 'Del'}

In [20]:
md3 = {'Maths': [22,33,44,55], 'Science': [66,77,88,99]}
print(md3)

{'Maths': [22, 33, 44, 55], 'Science': [66, 77, 88, 99]}

In [21]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [22]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}

In [23]:
len(md1)

4

In [24]:
mk = md1.keys()
print(type(mk))
print(mk)        #### list-like object
mykeylist = list(mk)
print(mykeylist)

<class 'dict_keys'>
dict_keys(['Bank', 'Branch', 91, 'City'])
['Bank', 'Branch', 91, 'City']

In [25]:
mykeylist = list(md1.keys())
print(mykeylist)

['Bank', 'Branch', 91, 'City']

In [26]:
myvaluelist = list(md1.values())
print(myvaluelist)

['SBI', 'MgRoad', 'India', 'Blr']

In [27]:
myitemlist = list(md1.items())
print(myitemlist)

[('Bank', 'SBI'), ('Branch', 'MgRoad'), (91, 'India'), ('City', 'Blr')]

In [28]:
print(md1)
mi = md1.items()
print(type(mi))
print(mi)        #### list-like object
myitemlist = list(mi)
print(myitemlist)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
<class 'dict_items'>
dict_items([('Bank', 'SBI'), ('Branch', 'MgRoad'), (91, 'India'), ('City', 'Blr')])
[('Bank', 'SBI'), ('Branch', 'MgRoad'), (91, 'India'), ('City', 'Blr')]

In [29]:
print(md1)
#mi = md1.items()
print(type(md1.items()))

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
<class 'dict_items'>

In [30]:
list(md1)

['Bank', 'Branch', 91, 'City']

In [31]:
md1

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}

In [32]:
md1['Branch']

'MgRoad'

In [33]:
md1['Branch'] = ['Mgroad', 'Market', 'Majestic']

In [34]:
md1

{'Bank': 'SBI',
 'Branch': ['Mgroad', 'Market', 'Majestic'],
 91: 'India',
 'City': 'Blr'}

In [35]:
print(md1)

{'Bank': 'SBI', 'Branch': ['Mgroad', 'Market', 'Majestic'], 91: 'India', 'City': 'Blr'}

In [39]:
md1['Branch'].append('Vijaynagar')

In [40]:
md1

{'Bank': 'SBI',
 'Branch': ['Mgroad', 'Market', 'Majestic', 'Vijaynagar', 'Vijaynagar'],
 91: 'India',
 'City': 'Blr'}

In [41]:
md1['Bank'].append('Vijaynagar')  ### error

AttributeError: 'str' object has no attribute 'append'

31-3-2021

In [ ]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

In [42]:
x = md1.get('Branch')
print(x)

['Mgroad', 'Market', 'Majestic', 'Vijaynagar', 'Vijaynagar']

In [43]:
x = md1.get('Branch1')
print(x)

None

In [44]:
x = md1.get('Hello', 'Unknown')
print(x)

Unknown

In [45]:
x = md1.get('Branch', 'Unknown')
print(x)

['Mgroad', 'Market', 'Majestic', 'Vijaynagar', 'Vijaynagar']

In [46]:
x = md1.get(('Branch', 'City'))
print(x)

None

In [47]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}

In [48]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
MgRoad
{'Bank': 'SBI', 91: 'India', 'City': 'Blr'}

In [49]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch1')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}

KeyError: 'Branch1'

In [50]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch1', 'KeyNotAvailable')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
KeyNotAvailable
{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}

In [51]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.pop('Branch', 'KeyNotAvailable')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
MgRoad
{'Bank': 'SBI', 91: 'India', 'City': 'Blr'}

In [52]:
md1 = {}
print(md1)
x = md1.pop('Branch', 'KeyNotAvailable')
print(x)
print(md1)

{}
KeyNotAvailable
{}

In [53]:
md1 = {}
print(md1)
x = md1.pop('Branch')
print(x)
print(md1)

{}

KeyError: 'Branch'

In [54]:
md1 = {}
print(md1)
x = md1.get('Branch')
print(x)
print(md1)

{}
None
{}

In [55]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)

md2 = {'State': 'KA', 'City' : 'Mysore'}
print(md2)
print()
md1.update(md2) ## new keys will get added, existing keys will get modified
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
{'State': 'KA', 'City': 'Mysore'}

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Mysore', 'State': 'KA'}

In [56]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('State')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
None
{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr', 'State': None}

In [57]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('State', 'KA')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
KA
{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr', 'State': 'KA'}

In [58]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('Branch')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
MgRoad
{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}

In [59]:
md1 = {'Bank': 'SBI', 'Branch': 'MgRoad', 91:'India', 'City': 'Blr'}
print(md1)
x = md1.setdefault('Branch', 'Market')
print(x)
print(md1)

{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}
MgRoad
{'Bank': 'SBI', 'Branch': 'MgRoad', 91: 'India', 'City': 'Blr'}

In [60]:
mt1 = ('Bank', 'City', 'Branch')
md1 = dict.fromkeys(mt1)
print(md1)

{'Bank': None, 'City': None, 'Branch': None}

In [61]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
md1 = dict.fromkeys(mt1,mt2)
print(md1)

{'Bank': ('SBI', 'Blr', 'MGROAD'), 'City': ('SBI', 'Blr', 'MGROAD'), 'Branch': ('SBI', 'Blr', 'MGROAD')}

In [62]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
## md1 = {'Bank': 'SBI', 'City':'Blr', 'Branch':'MGROAD'}

In [63]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
z = zip(mt1,mt2)   ## zip return an o/p, which can be consumed only once. it is called ITERATOR.. temporary one time readable container of values
print(type(z))
print(z)
print(list(z))
print(list(z))

<class 'zip'>
<zip object at 0x0000027397DB7180>
[('Bank', 'SBI'), ('City', 'Blr'), ('Branch', 'MGROAD')]
[]

In [64]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('SBI', 'Blr', 'MGROAD')
z = zip(mt1,mt2)   ## zip return an o/p, which can be consumed only once. it is called ITERATOR.. temporary one time readable container of values
print(type(z))
mylist1 = list(z)
print(mylist1)
md1 = dict(mylist1)
print(md1)

<class 'zip'>
[('Bank', 'SBI'), ('City', 'Blr'), ('Branch', 'MGROAD')]
{'Bank': 'SBI', 'City': 'Blr', 'Branch': 'MGROAD'}

In [65]:
mt1 = ('Bank', 'City', 'Branch')
mt2 = ('Blr', 'MGROAD','SBI', )
md1 = dict(zip(mt1,mt2))
print(md1)

{'Bank': 'Blr', 'City': 'MGROAD', 'Branch': 'SBI'}

In [66]:
mt1 = ('Bank', 'City', 'Branch', 91)
mt2 = ('Blr', 'MGROAD','SBI', )
md1 = dict(zip(mt1,mt2))
print(md1)

{'Bank': 'Blr', 'City': 'MGROAD', 'Branch': 'SBI'}

In [67]:
mylist1 = [11,22,33]   ###  list or tuple is called an ITERABLE.. because they persist in memory.
print(mylist1)
print(mylist1)

[11, 22, 33]
[11, 22, 33]

In [68]:
md1 = { 2:"python","100":md2}
md2={"innerdict":{"innerdict1": 1234},7:0}
z = zip(md1,md2)
print(list(z))

[(2, 'innerdict'), ('100', 7)]

In [69]:
list(md1)

[2, '100']

In [70]:
list(md2)

['innerdict', 7]

In [71]:
md1

{2: 'python', '100': {'State': 'KA', 'City': 'Mysore'}}

In [72]:
list(md1.keys())

[2, '100']

In [73]:
mt1 = ('Bank', 'City', 'Branch', 'Bank')
mt2 = ('SBI', 'Blr', 'MGROAD', 'Axis' )
md1 = dict(zip(mt1,mt2))
print(md1)

{'Bank': 'Axis', 'City': 'Blr', 'Branch': 'MGROAD'}

# Sets

In [ ]:
myset1 = {2,4,6,8,10,2,4,6}
print(myset1)
print(len(myset1))
print(type(myset1))

In [ ]:
mylist1 = [2,4,6,8,10,2,4,6]
print(mylist1)
print(len(mylist1))
print(type(mylist1))
print()
newset1 = set(mylist1)
print(newset1)
print(len(newset1))
print(type(newset1))
print()
mylist1 = list(newset1)
print(mylist1)
print(len(mylist1))
print(type(mylist1))

In [ ]:
mylist1 = [2,4,6,8,10,2,4,6]
mylist1 = list(set(mylist1))
print(mylist1)

In [ ]:
myset1 = set()
print(len(myset1))
print(type(myset1))

myset1.add(20)
myset1.add(30)
myset1.add(50)
myset1.add(40)
myset1.add(20)
print(myset1)

In [ ]:
dir(set)

In [ ]:
myset1 = {2,4,6,8,10}
x = myset1.pop(); print(x)
print(myset1)

In [ ]:
myset1[0]

In [ ]:
s1 = {2,4,6,1,3,5, (100,200,300)}
s2 = {2,4,6,11,13,15}

In [ ]:
s1.intersection(s2)

In [ ]:
s1.union(s2)

In [ ]:
s1.symmetric_difference(s2)

# Decision Making

In [ ]:
for value in "PyTHONwORLD":
    print(value)
    if value.islower():
        print('lowercase')

In [ ]:
ord('$')

In [ ]:
chr(36)

In [ ]:
ord('A')

In [ ]:
for letter in 'python':
    print(letter)
    
print('hello')
print('world')
print(23+45)

# 05-Apr-2021

# Loops Continued

In [ ]:
r = range(10)
print(r)
print(type(r))
print(list(r))
print(list(r))
print(tuple(r))

In [ ]:
print(list(range(10)))

In [ ]:
print(list(range(20)))

In [ ]:
print(list(range(10,20)))

In [ ]:
print(list(range(10,30)))

In [ ]:
r = range(10,30,2)
mylist = list(r)
print(mylist)

In [ ]:
## 20,19,18,17,16,15

print(list(range(20,14,-1)))

In [ ]:
print(list(range(10,15,1)))


##  10,11,12,13,14,  ########15,16,17,18,19,.....

In [ ]:
print(list(range(20,14,-1)))

## 20, 19,18,17,16,15, ########14,13,12....

In [ ]:
print(list(range(20,14,-2)))


##20, 18,16,####  14,12,10...

In [ ]:
r = range(10,5,1)

## 10,11,12,13....
print(r)
print(list(r))

In [ ]:
r = range(10.2,15.9,1.2)
print(list(r))

In [ ]:
print(list(range(30,61,2)))

In [ ]:
print(list(range(30,60,2)))

In [ ]:
m = int(input('enter the marks obtained'))

if(m<35):
    print("you are failed, you need ",35-m,'more marks to pass')
elif(35<=m<=50):
    print('you passed, you need', 50-m,'more marks to get into second class')
elif(50<=m<=60):
    print('you passed in second class, you need', 60-m,'more marks to get into first class')
elif(60<=m<=70):
    print('you passed in first class, you need', 70-m,'more marks to get into Distinction')
else:
    print('you passed in Distinction')

In [ ]:
num = 10
while(num <= 30):
    print(num)
    num = num + 1

In [ ]:
lower_number = 10
upper_number = 30
while(lower_number <= upper_number):
    print(lower_number)
    lower_number = lower_number + 1

### grammer  for while loop

while condition:   ## condition should be based on the LoopControlVariable
   statement1
   statement2
   statement3
   ...
   ...
   last_statement

In [ ]:
350...500

In [ ]:
lower_number = 350
upper_number = 500
while(lower_number <= upper_number):
    if lower_number % 7 == 0:
        print(lower_number)
    lower_number = lower_number + 1

In [ ]:
lower_number = 350
upper_number = 500
while(lower_number <= upper_number and lower_number % 7 == 0):
    print(lower_number)
    lower_number = lower_number + 7

In [ ]:
i=349
while (i<=500):
    while i%7==0:
        print(i)
        break
    i+=1

In [ ]:
for num in range(10,30,2):
    print(num)

print('Done')

In [ ]:
r = range(30,10,-2)
for num in r:
    print(num)

print('Done')

In [ ]:
md1 = {'Bank': 'SBI', 'Branch':'MGROAD', 'City':'Blr'}

In [ ]:
for k in md1.keys():
    print(k)

In [ ]:
for v in md1.values():
    print(v)

In [ ]:
for i in md1.items():
    print(i)

In [ ]:
list(md1.items())

In [ ]:
a,b = 10,20    ### positional mapping
print(a)
print(b)

In [ ]:
a,b,c = 10,20    ###  statement is ambiguous

In [ ]:
a,b,c = 10,20,30,40    ###  statement is ambiguous

In [ ]:
a = 10,20,30,40,50    ### packing of values as a tuple, becuase there is only one variable
print(a)
print(type(a))
for item in a:
    print(item)

In [ ]:
a = (10,20)
print(a)

In [ ]:
a,b = (10,20)   ### tuple will be unpacked
print(a)
print(b)

In [ ]:
a,b = (10,20,30)   #
print(a)
print(b)

In [ ]:
for i in md1.items():
    print(i)

In [ ]:
for k,v in md1.items():    ### on the fly unpacking happens
    print(k,v)

In [ ]:
for k,v,i in md1.items():    ### on the fly unpacking is attempted.. but fails. because .items is tuple of 2 elements only
    print(k,v)

In [ ]:
for k,v in enumerate(md1.items()):
    print(k,v)

In [ ]:
list(enumerate(md1.items()))

In [ ]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 }, 'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 'Norway': { 'Capital':'Oslo', 'Population':0.533 } }
print(europe.keys())
print(europe.values())
kt = ('Spain', 'France', 'Germany', 'Norway')
k = ('Capital', 'Population')
v1 = ('Madrid', 4.77)
v2 = ('Paris', 6.77)

md1 = dict(zip(k,v1))
print(md1)

md2 = dict(zip(k,v2))
print(md2)

md = dict(zip(kt,zip(md1,md2)))
md


### TBD

In [ ]:
europe['Germany']['Population']

In [ ]:
europe.get('Germany').get('Population')

In [ ]:
list(zip(md1,md2))

In [ ]:
for letter in 'python':
    if letter == 'h':
        break
    
    print(letter)
    
print('Done')

In [ ]:
for letter in 'python':
    if letter == 'h':
        continue
    
    print(letter)
    
print('Done')

In [ ]:
for letter in 'python':
    print(letter)
else:
    print('Done')

In [ ]:
for letter in 'python':
    print(letter)
    if letter == 'h':
        break
else:
    print('Done')

In [ ]:
for letter in "python":
    if letter == 'h':
        break
    print(letter)


print('Done')

In [ ]:
lcount = 9
while(lcount > 0):
    print(lcount)
    if lcount == 5:
       break
    lcount = lcount - 1
    print(lcount)

In [ ]:
a = 9
while(a>0):
    print(a)
    if a == 5:
        break
    a = a - 1
print('bdone')

In [ ]:
lcount=9
while(lcount>0):
    print(lcount)
    if lcount==5:
        break
    lcount=lcount-1
print("done")

In [ ]:
a=['Capital','Popu']
b=['Mad',4.77]
c=['Paris','8.9']
d=['Spain','France']
print(dict(zip(d,[dict(zip(a,b)),dict(zip(a,c))])))

# List Comprehension

In [ ]:
##  [1,4,9,16,25,36]   [1sq, 2sq, 3sq, 4sq, 5sq, 6sq]

In [ ]:
sqlist = []
for num in range(1,7):
    sqlist.append(num ** 2)
print(sqlist)

In [ ]:
2 ** 3

In [ ]:
4 ** 2

In [ ]:
slist = [  num**2      for num in range(1,7)  ]
print(slist)

In [ ]:
## 2p0, 2p1, 2p2, 2p3, 2p4, 2p5 

##[ 1, 2,4,8,16,32]

In [ ]:
tlist = []
for num in range(0,6):
    tlist.append(2**num)
print(tlist)

In [ ]:
slist = [ 2 ** n   for n in range(0,6)]
print(slist)

### Grammer signature 1 of List comp

final_list = [ <2. final_expression for each iteration>    <1. for loop iteration>  ]

## control_flow:   1,2  1,2,  1,2  1-Stops

In [74]:
a = (1, 2)
b = (3, 4)
#print(a+b)
mylist = [a+b]
print(mylist)
plist = [print(x) for x in mylist  ]
print(plist)

[(1, 2, 3, 4)]
(1, 2, 3, 4)
[None]

In [ ]:
x = print('hello')
print(x)

In [ ]:
print(type(None))

In [ ]:
mt1 = {'a','b','c'}
ms1 = str(mt1)
for char in ms1:
    print(char)

In [75]:
mt1 = ('a','b','c')
''.join(mt1)

'abc'

In [76]:
alist=[4,8,12,16]    
print(alist)
alist[1:4]=[20,24,28]                                                                
print(alist)

[4, 8, 12, 16]
[4, 20, 24, 28]

In [77]:
list(range(20,10,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

In [78]:
20,19,18

(20, 19, 18)

In [79]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 }, 'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 'Norway': { 'Capital':'Oslo', 'Population':0.533 } }
print(europe.keys())
print(europe.values())

dict_keys(['Spain', 'France', 'Germany', 'Norway'])
dict_values([{'Capital': 'Madrid', 'Population': 4.77}, {'Capital': 'Paris', 'Population': 6.7}, {'Capital': 'Berlin', 'Population': 8.28}, {'Capital': 'Oslo', 'Population': 0.533}])

In [80]:
a=['Capital','Population']
b=['Madrid',4.77]
c=['Paris','8.9']
d=['Spain','France']
print(dict(zip(d,[dict(zip(a,b)),dict(zip(a,c))])))

{'Spain': {'Capital': 'Madrid', 'Population': 4.77}, 'France': {'Capital': 'Paris', 'Population': '8.9'}}

In [81]:
a=['Capital','Population']
b=['Madrid',4.77]
c=['Paris','8.9']
d=['Spain','France']

md1 = dict(zip(a,c))
md2 = dict(zip(a,b))
print(md1)
print(md2)
md3 = dict(zip(d,[md1,md2]))
md3

{'Capital': 'Paris', 'Population': '8.9'}
{'Capital': 'Madrid', 'Population': 4.77}

{'Spain': {'Capital': 'Paris', 'Population': '8.9'},
 'France': {'Capital': 'Madrid', 'Population': 4.77}}

# 07-Apr-2021

# List Comprehension Continued

In [82]:
mylist1 = list(range(1,60,3))
print(mylist1)

evenlist = []
for num in mylist1:
    if num % 2 == 0:
        evenlist.append(num)
print(evenlist)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58]
[4, 10, 16, 22, 28, 34, 40, 46, 52, 58]

In [83]:
mylist1 = list(range(1,60,3))
print(mylist1)
print()
evenlist1 = [   num        for num in mylist1   if num % 2 == 0]
print(evenlist1)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58]

[4, 10, 16, 22, 28, 34, 40, 46, 52, 58]

Grammer of Signature # 2


final_list = [  <3. final_expression only if gating condition is True>     <1. for loop iteration>    <2. Gating condition check for every iteration> ]

control_flow:  1,2T,3  1,2T,3  1,2F  1,2F,  1,2T,3   1-Stops...

In [84]:
mylist1 = list(range(1,200,5))
print(mylist1)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96, 101, 106, 111, 116, 121, 126, 131, 136, 141, 146, 151, 156, 161, 166, 171, 176, 181, 186, 191, 196]

In [85]:
m23list = [  num*1  for num in mylist1   if num %2 == 0  and num%3 == 0]
print(m23list)

[6, 36, 66, 96, 126, 156, 186]

In [86]:
mylist1 = list(range(10))
print(mylist1)


###  [o2 13  22  33  42  53  .... 82 93  ]

###  [0, 1, 4, 27, 16, 125, 36, 343, 64, 729 ]

## even_square, odd_cubed

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
9**3

729

In [89]:
eolist = []
for num in mylist1:
    if num % 2 == 0:
        eolist.append(num**2)
    else:
        eolist.append(num**3)
print(eolist)

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [90]:
mylist1 = list(range(10))
print(mylist1)
print()

eolist1 = [ num**2 if num%2==0 else num **3           for num in mylist1   ]
print(eolist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

## Grammer Signature # 3

final_list = [ <2. final_exp_T if cond is True else final_exp_F>         <1. for loop>   ]

control_flow: 1,2  1,2  1,2  1-Stops

In [91]:
mylist1 = list(range(10))
print(mylist1)
print()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
###    ["0-Even", "1-Odd", "2-Even", "3-Odd"...]

In [93]:
mylist2= list(range(10))
flist=[ str(num)+'-even' if num%2==0 else str(num)+'-odd'                   for num in mylist2]
print(flist)

['0-even', '1-odd', '2-even', '3-odd', '4-even', '5-odd', '6-even', '7-odd', '8-even', '9-odd']

In [94]:
mylist1 = list(range(1,30))
print(mylist1)


###  [16,36,64,729,100,144,196,15**3...]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [95]:
##even-sq or odd_cb only if number is NOT prime

In [96]:
def isPrime(num):
    if num < 2:
        return False
    
    for divisor in range(2,num):
        if num % divisor == 0:
            return False
        
    return True

In [97]:
isPrime(33)

False

In [98]:
mylist1 = list(range(1,30))
print(mylist1)
mylist2 = []

for num in mylist1:
    if isPrime(num) == False:
        if num % 2 == 0:
            mylist2.append(num**2)
        else:
            mylist2.append(num**3)
            
print(mylist2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[1, 16, 36, 64, 729, 100, 144, 196, 3375, 256, 324, 400, 9261, 484, 576, 15625, 676, 19683, 784]

In [99]:
mylist1 = list(range(1,30))
print(mylist1)
print()

mylist3 = [ num**2 if num%2 == 0 else num ** 3     for num in mylist1   if isPrime(num) == False   ]

print(mylist3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

[1, 16, 36, 64, 729, 100, 144, 196, 3375, 256, 324, 400, 9261, 484, 576, 15625, 676, 19683, 784]

### Grammer Signature # 4


final_list = [ <3. final_expressions based on condition>  <1. for loop iteration>  <2. Gating condition>]

control_flow:  1,2T,3  1,2F,  1,2T,3  1-Stops...

In [100]:
mylist1 = list(range(1,30))
print(mylist1)
mylist2 = []

for num in mylist1:
    if isPrime(num) == True:
        mylist2.append('p'+str(num))
    else:
        if num % 2 == 0:
            mylist2.append('e'+str(num))
        else:
            mylist2.append('o'+str(num))
            
print(mylist2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
['o1', 'p2', 'p3', 'e4', 'p5', 'e6', 'p7', 'e8', 'o9', 'e10', 'p11', 'e12', 'p13', 'e14', 'o15', 'e16', 'p17', 'e18', 'p19', 'e20', 'o21', 'e22', 'p23', 'e24', 'o25', 'e26', 'o27', 'e28', 'p29']

In [101]:
mylist22 = ['p'+str(num) if isPrime(num) == True else 'e'+str(num) if num % 2 == 0 else 'o'+str(num)   for num in mylist1]
print(mylist22)

['o1', 'p2', 'p3', 'e4', 'p5', 'e6', 'p7', 'e8', 'o9', 'e10', 'p11', 'e12', 'p13', 'e14', 'o15', 'e16', 'p17', 'e18', 'p19', 'e20', 'o21', 'e22', 'p23', 'e24', 'o25', 'e26', 'o27', 'e28', 'p29']

In [102]:


ulist = ['u1', 'u2' ,'u3']
plist = ['p1', 'p2','p3']#uplist = [('u1', 'p1'), ('u1', 'p2'), ('u1', 'p3'), ('u2', 'p1'), ('u2', 'p2'), ('u2', 'p3'), ('u3', 'p1'), ('u3', 'p2'), ('u3', 'p3')]

In [103]:
ulist = ['u1', 'u2' ,'u3']
plist = ['p1', 'p2','p3']

uplist = []
for u in ulist:
    for p in plist:
        uplist.append((u,p))
        
print(uplist)

[('u1', 'p1'), ('u1', 'p2'), ('u1', 'p3'), ('u2', 'p1'), ('u2', 'p2'), ('u2', 'p3'), ('u3', 'p1'), ('u3', 'p2'), ('u3', 'p3')]

In [104]:
uplist1 = [ (u,p)   for u in ulist  for p in plist]
print(uplist1)

[('u1', 'p1'), ('u1', 'p2'), ('u1', 'p3'), ('u2', 'p1'), ('u2', 'p2'), ('u2', 'p3'), ('u3', 'p1'), ('u3', 'p2'), ('u3', 'p3')]

## Grammer for Loop Nesting Signature # 5

final_list = [  <3. final_expresion on every iteration of level1 loop> <1. for loop level0>  <2. for loop level1. on every iteration of level0 loop>]

control_flow: 1,2,3,2,3,2,3,2-Stops  1,2,3,2,3,2-Stops  1-Stops....

In [105]:
ulist = ['u1', 'u2' ,'u3']
plist = ['p1', 'p2','p3']

##uplist = [('u1', 'p1'), ('u1', 'p3'), ('u3', 'p1'), ('u3', 'p3')]

uplist = []

for u in ulist:
    if u != 'u2':
        for p in plist:
            if p != 'p2':
                uplist.append((u,p))
print(uplist)

[('u1', 'p1'), ('u1', 'p3'), ('u3', 'p1'), ('u3', 'p3')]

In [106]:
uplist1 = [ (u,p)  for u in ulist  if u != 'u2'  for p in plist  if p != 'p2']
print(uplist1)

[('u1', 'p1'), ('u1', 'p3'), ('u3', 'p1'), ('u3', 'p3')]

Set Comprehension

In [107]:
mylist1 = [ num%3  for num in range(20)]
print(mylist1)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [108]:
myset1 = { num%3  for num in range(20) }
print(myset1)

{0, 1, 2}

In [109]:
## give me all multiples of 2 or 3 bn 10 and 100

In [110]:
myset1 = { num*mp  for num in range(10,100) for mp in range(2,4)}
print(myset1)

{20, 22, 24, 26, 28, 30, 32, 33, 34, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50, 51, 52, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 116, 117, 118, 120, 122, 123, 124, 126, 128, 129, 130, 132, 134, 135, 136, 138, 140, 141, 142, 144, 146, 147, 148, 150, 152, 153, 154, 156, 158, 159, 160, 162, 164, 165, 166, 168, 170, 171, 172, 174, 176, 177, 178, 180, 182, 183, 184, 186, 188, 189, 190, 192, 194, 195, 196, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297}

In [111]:
myset1 = [ num*mp  for num in range(10,100) for mp in range(2,4)]
print(myset1)

[20, 30, 22, 33, 24, 36, 26, 39, 28, 42, 30, 45, 32, 48, 34, 51, 36, 54, 38, 57, 40, 60, 42, 63, 44, 66, 46, 69, 48, 72, 50, 75, 52, 78, 54, 81, 56, 84, 58, 87, 60, 90, 62, 93, 64, 96, 66, 99, 68, 102, 70, 105, 72, 108, 74, 111, 76, 114, 78, 117, 80, 120, 82, 123, 84, 126, 86, 129, 88, 132, 90, 135, 92, 138, 94, 141, 96, 144, 98, 147, 100, 150, 102, 153, 104, 156, 106, 159, 108, 162, 110, 165, 112, 168, 114, 171, 116, 174, 118, 177, 120, 180, 122, 183, 124, 186, 126, 189, 128, 192, 130, 195, 132, 198, 134, 201, 136, 204, 138, 207, 140, 210, 142, 213, 144, 216, 146, 219, 148, 222, 150, 225, 152, 228, 154, 231, 156, 234, 158, 237, 160, 240, 162, 243, 164, 246, 166, 249, 168, 252, 170, 255, 172, 258, 174, 261, 176, 264, 178, 267, 180, 270, 182, 273, 184, 276, 186, 279, 188, 282, 190, 285, 192, 288, 194, 291, 196, 294, 198, 297]

Dict Comprehension

In [112]:
md1 = { 'n'+str(num) : num for num in range(10)}
print(md1)

{'n0': 0, 'n1': 1, 'n2': 2, 'n3': 3, 'n4': 4, 'n5': 5, 'n6': 6, 'n7': 7, 'n8': 8, 'n9': 9}

In [113]:
str(23) +' hello'

'23 hello'

In [114]:
str(0)

'0'

In [115]:
'n'+'0'

'n0'

In [116]:
vk= { 'n'+str(n):(n,n+1)     for n in range(10,20) if n%2==0}
print(vk)

{'n10': (10, 11), 'n12': (12, 13), 'n14': (14, 15), 'n16': (16, 17), 'n18': (18, 19)}

In [117]:
def myadd(n1,n2):
    s = n1 + n2
    
    return s

In [118]:
s1 = myadd(100,200)
print(s1)

300

In [119]:
mylist1 = [10,20,30,40]
i = mylist1.index(30)
print(i)

2

In [120]:
md1 = {  'n'+str(num) if num % 2 == 0 else 'k'+str(num) :  num for num in range(0,20)}
print(md1)

{'n0': 0, 'k1': 1, 'n2': 2, 'k3': 3, 'n4': 4, 'k5': 5, 'n6': 6, 'k7': 7, 'n8': 8, 'k9': 9, 'n10': 10, 'k11': 11, 'n12': 12, 'k13': 13, 'n14': 14, 'k15': 15, 'n16': 16, 'k17': 17, 'n18': 18, 'k19': 19}

In [121]:
i = 20
i = i + 2
print(i)

22

In [122]:
i = 20
i += 2   ##  read i, add 2 to it, and write back the result in i itself
print(i)

22

In [123]:
mylist1 = [1,2,0,3,True,False,'hello']

In [124]:
mylist1

[1, 2, 0, 3, True, False, 'hello']

In [125]:
int(True)

1

In [126]:
mylist1.remove('hello')
mylist1

[1, 2, 0, 3, True, False]

In [127]:
mylist1.remove(True)
mylist1

[2, 0, 3, True, False]

In [128]:
mylist1.remove(False)
mylist1

[2, 3, True, False]

In [129]:
mylist1 = list('pythonworld')

In [130]:
mylist1.index('o')

4

In [131]:
list(enumerate(mylist1))

[(0, 'p'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, 'w'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd')]

In [133]:
mylist1 = list('pythonworld')
indexlist = [ i  for i,v in enumerate(mylist1) if v == 'o']
print(indexlist)

[4, 7]

In [134]:
mylist1 = [1,2,0,3,True,False,'hello']
indexlist = [ i  for i,v in enumerate(mylist1) if v == 1]
print(indexlist)

[0, 4]

In [135]:
bool(True)

True

In [136]:
mylist1 = [1,2,0,3,True,False,'hello']
mylist1.remove(bool(True))
mylist1

[2, 0, 3, True, False, 'hello']

In [137]:
mylist1 = [1,2,0,3,True,False,'hello']
indexlist = [ i  for i,v in enumerate(mylist1) if str(v) == str(True)]
print(indexlist)

[4]

In [138]:
isinstance(True,int)

True

In [139]:
isinstance(True,bool)

True

In [140]:
id(1)

140706268260128

In [141]:
id(True)

140706267977552

In [142]:
1 == True

True

In [143]:
str(True)

'True'

# 12-Apr-2021

# Functions

In [144]:
def mf1(p0,p1):
    s = p0 + p1
    print(p0,p1,s)

In [145]:
r = mf1(100,200)
print(r)

100 200 300
None

In [146]:
mylist1 = [10,20,30,40]
newlist = mylist1.append(50)
print(newlist)
print(mylist1)

None
[10, 20, 30, 40, 50]

In [147]:
mylist1 = [10,20,30,40]
mylist1.append(50)
print(mylist1)

[10, 20, 30, 40, 50]

In [148]:
def isEven(num):
    br = num % 2 == 0
    
    return br

In [149]:
isEven(20)

True

In [150]:
isEven(21)

False

In [151]:
def tempFeel(temp):
    if temp>99:
        return "It is hot."
    elif 61<=temp<=99:
        return 'It is just right.'
    else:
        return 'It is cold'

In [152]:
t = int(input('enter temperature'))
f = tempFeel(t)
print(f)

enter temperature56
It is cold

Parameter Passing

In [153]:
def mf1(p0,p1):
    print(p0,p1)
    
    return 0

In [154]:
mf1()

TypeError: mf1() missing 2 required positional arguments: 'p0' and 'p1'

In [155]:
mf1(100)

TypeError: mf1() missing 1 required positional argument: 'p1'

In [156]:
mf1(1000,2000)

1000 2000

0

In [157]:
def mf2(p0, p1 = 100):
    print(p0,p1)

In [158]:
mf2()

TypeError: mf2() missing 1 required positional argument: 'p0'

In [159]:
mf2(22)

22 100

In [167]:
mf2(333,444)

333 444

In [168]:
def mf3(p0,p1):
    print(p0,p1)

In [169]:
mf3(22,33)

22 33

In [170]:
mf3(p1=44,p0=55)

55 44

In [171]:
def mf4(p0,p1=999):
    print(p0,p1)

In [172]:
mf4(11,22)

11 22

In [173]:
mf4(p1=888,p0=777)

777 888

In [174]:
mf4(p0=555)

555 999

In [175]:
mf4(p1=333)

TypeError: mf4() missing 1 required positional argument: 'p0'

In [176]:
mf4(222)

222 999

In [177]:
def mf5(p0=888,p1):  ####  first required parameters/arguements  and then default parameters/arguements
    print(p0,p1)

SyntaxError: non-default argument follows default argument (<ipython-input-177-89fe7a10a077>, line 1)

In [178]:
def mf6(p0,p1):
    print(p0,p1)

In [179]:
mf6(10,20)

10 20

In [180]:
mf6(p0=100, p1=200)

100 200

In [181]:
mf6(p1=300,p0=400)

400 300

In [182]:
mf6(p0=333,444)   ### first positional style values, then only parameter-keyword style

SyntaxError: positional argument follows keyword argument (<ipython-input-182-7b106c036919>, line 1)

In [183]:
mf6(3333,p1=4444)

3333 4444

In [184]:
def mf7(p0,p1=111):
    print(p0,p1)

In [185]:
mf7(10)

10 111

In [186]:
mf7(10,p0=100)

TypeError: mf7() got multiple values for argument 'p0'

In [187]:
mf7(10,p1=100)

10 100

In [188]:
def mf8(args):
    print(args)
    print(type(args))

In [189]:
mf8(20)

20
<class 'int'>

In [190]:
mf8(10,20,30,40,50)

TypeError: mf8() takes 1 positional argument but 5 were given

In [191]:
def mf9(*args):   ## you made a variable container which will finally be a Tuple
    print(args)
    print(type(args))
    
    for item in args:
        print(item)

In [192]:
mf9(10,20,30,40,50, 'hello')

(10, 20, 30, 40, 50, 'hello')
<class 'tuple'>
10
20
30
40
50
hello

In [193]:
mf9(10)

(10,)
<class 'tuple'>
10

In [194]:
def mf10(r1,r2,*args):
    print('r1', r1)
    print('r2', r2)
    print('args', args)

In [195]:
mf10(10,20)

r1 10
r2 20
args ()

In [196]:
mf10(10,20,30,40,'hello', 'python',50,60)

r1 10
r2 20
args (30, 40, 'hello', 'python', 50, 60)

In [197]:
mf10(r1=10,20,30,40,'hello', 'python',50,60)

SyntaxError: positional argument follows keyword argument (<ipython-input-197-b2c31344cb35>, line 1)

In [198]:
def mf11(r1,r2, d1=111,d2=222,*args):
    print('r1', r1)
    print('r2', r2)
    print('d1', d1)
    print('d2', d2)    
    print('args', args)

In [199]:
mf11(10,20,30,40,50,60,70)

r1 10
r2 20
d1 30
d2 40
args (50, 60, 70)

In [200]:
mf11(10,20,30,40,50,60,70, d1=1111, d2=2222)

TypeError: mf11() got multiple values for argument 'd1'

In [201]:
mf11(10,20,d1=1111, d2=2222,30,40,50,60,70 )

SyntaxError: positional argument follows keyword argument (<ipython-input-201-3202c336d5b5>, line 1)

In [202]:
mf11(10,20,d1=1111, d2=2222) ## if there are 2 required params, and their values are passed positionally, d1,d2 can be updated using parameter-keyword style

r1 10
r2 20
d1 1111
d2 2222
args ()

In [203]:
mf11(10,20,30,d1=1111, d2=2222)

TypeError: mf11() got multiple values for argument 'd1'

In [88]:
def mf12(a=20, b=30, m=40):
    print(a,b,m, a+b+m)

In [89]:
mf12(10,20,30)

10 20 30 60

In [90]:
mf12('hello', 'world', 'python')

hello world python helloworldpython

In [105]:
def mf20(r1,r2):
    print(r1,r2)
    
mf20(r1=20,r2=30)  
mf20(r1=20,r3=40)

20 30

TypeError: mf20() got an unexpected keyword argument 'r3'

In [92]:
def mf13(a, b, m):
    print(a,b,m, a+b+m)

In [93]:
mf13(10,20,30)

10 20 30 60

In [94]:
md1 = {'a':111, 'b':222, 'c':333}

In [97]:
md2 = {'a':111, 'b':222, 'c':333, 'd':444}

In [95]:
mf13(md1)

TypeError: mf13() missing 2 required positional arguments: 'b' and 'm'

In [96]:
mf13(*md1) ## unpacking of keys..  mf13('a', 'b', 'c')

a b c abc

In [98]:
mf13(*md2)  ## mf13('a','b','c','d')

TypeError: mf13() takes 3 positional arguments but 4 were given

In [204]:
def mf14(a, b, m):
    print(a,b,m, a+b+m)
    
md1 = {'a':111, 'b':222, 'c':333}
md2 = {'a':111, 'b':222, 'c':333, 'd':444}
md3 = {'a':111, 'b':222, 'm':333}

In [205]:
mf14(**md1)

TypeError: mf14() got an unexpected keyword argument 'c'

In [106]:
mf14(**md1) ## unpacking of keys and values.. mf14(a=111, b=222, c=333)

TypeError: mf14() got an unexpected keyword argument 'c'

In [109]:
mf14(**md3) ## unpacking of keys and values.. mf14(a=111, b=222, m=333)

## keys will be treated or assumed to be the parameter names of the function

111 222 333 666

In [110]:
def mf15(kwargs):
    print(kwargs)
    print(type(kwargs))

In [111]:
mf15(20)

20
<class 'int'>

In [112]:
mf15(10,20,30)

TypeError: mf15() takes 1 positional argument but 3 were given

In [113]:
mf15(a=20,b=30,c=40)

TypeError: mf15() got an unexpected keyword argument 'a'

In [116]:
def mf16(**kwargs):  ## you  are setting up a variable dict. values to be passed in parameter-kword style
    print(kwargs)
    print(type(kwargs))

In [115]:
mf16(a=20,b=30,c=40)

{'a': 20, 'b': 30, 'c': 40}
<class 'dict'>

In [117]:
mf16(a=22)

{'a': 22}
<class 'dict'>

In [118]:
def mf17(r1,r2,*args, d1=111,d2=222, **kwargs):
    print('r1', r1)
    print('r2', r2)
    print('args', args)    
    print('d1', d1)
    print('d2', d2)    
    print('kwargs', kwargs)

In [119]:
mf17(10,20,30,40,50,60,70,a=222,b=333,c=444)

r1 10
r2 20
args (30, 40, 50, 60, 70)
d1 111
d2 222
kwargs {'a': 222, 'b': 333, 'c': 444}

In [120]:
mf17(10,20,30,40,50,60,70,a=222,b=333,c=444,d1=555,d2=888)

r1 10
r2 20
args (30, 40, 50, 60, 70)
d1 555
d2 888
kwargs {'a': 222, 'b': 333, 'c': 444}

In [135]:
mf17(10,20,d2=222,d1=333)   ##  *args or variable tuples, can be populated only in positional-order style

r1 10
r2 20
args ()
d1 333
d2 222
kwargs {}

In [126]:
def mf22(a,b,c):
    print(a,b,c)

md1={'a':11,'b':22,'c':33}
mf22(*md1.keys())

a b c

In [130]:
a,b,c = (10,20,30)
print(a,b,c)

10 20 30

In [131]:
a,b,c = *(10,20,30)
print(a,b,c)

SyntaxError: can't use starred expression here (<ipython-input-131-99ee75ed03e4>, line 1)

In [133]:
mf22(*(10,20,30)) ##on the fly unpacking of the tuple, during a function call

10 20 30

In [134]:
mf22((10,20,30))

TypeError: mf22() missing 2 required positional arguments: 'b' and 'c'