<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> In-class Lab <br> (Day 2) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

##  Table of Content

1. **[String](#string)**
2. **[List](#list)**
3. **[Tuple](#tuple)**
4. **[Set](#set)**
5. **[Dictionary](#dict)**
6. **[Conditional Statements](#cond)**

### Let's begin with some hands-on practice exercises

<a id="string"></a>
## 1. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Create a string with the name 'country' and 'India' as its element. Perform the following on it:
                    <ol type = "1">
                        <li>Find its length. </li>
                        <li>Extract it first two letters. </li>
                        </ol></b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here
strCountry = 'India'

In [5]:
print("Length of the string country : "+str(len(strCountry)))

Length of the string country : 5

In [7]:
print(strCountry[0:2])

In

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [69]:
# type your code here
strNewValue = 'Today is a sunny day'

'Today'

In [70]:
strNewValue[0:5]+" "+strNewValue[11:16]

'Today sunny'

In [46]:
print(myList[::-1])

['day', 'sunny', 'a', 'is', 'Today']

<a id="list"> </a>
## 2. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [23]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']

In [24]:
print(len(mix_list_1))

5

**b. Check the membership of '24' in mix_list_1**

In [28]:
# type your code here
24 in mix_list_1

True

**c. Concatenate the mix_list_1 and mix_list_2**

In [26]:
# type your code here
mix_list_1.append(mix_list_2)
print(mix_list_1)

['Learn', 24, 'Blue', False, -8, [4, 7, 'Summer']]

**d. Repeat the mix_list_2 three times**

In [27]:
# type your code here
mix_list_2 * 3

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [88]:
# type your code here
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]
num_list_1 * num_list_2

TypeError: can't multiply sequence by non-int of type 'list'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [30]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[0])

Python

**b. Second last element**

In [31]:
# type your code here
print(mix_list[-2])

Data

**c. First three elements**

In [32]:
# type your code here
print(mix_list[0:3])

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [34]:
# type your code here
print(mix_list[0:-1:3])

['Python', 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [57]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]

In [48]:
min(num_list)

-2

**b. Max(list)**

In [49]:
# type your code here
max(num_list)

7

**c. Sort the elements (use sort() and sorted() function)**

In [52]:
# type your code here
num_list.sort()     # Returns None after sorting the list in ascending order
print(num_list)

[-2, 0, 1, 4, 5, 7]

In [53]:
sorted(num_list)   # Returns a new List after sorting

[-2, 0, 1, 4, 5, 7]

**d. Create a copy of a list**

In [54]:
# type your code here
num_list.copy() # Returns shallow copy of the list

[-2, 0, 1, 4, 5, 7]

**e. Remove element '5' from the list**

In [58]:
# type your code here
num_list.remove(5) # Returns None
print(num_list)

[4, 7, -2, 0, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [66]:
# type your code here
languages_list = ['R', 'Python', 'C', 'Java']

In [68]:
languages_list.insert(4,'Data')
print(languages_list)

['R', 'Python', 'C', 'Java', 'Data', 'Angular']

**b. Add elements 'Excel' and 'Data' in the given list**

In [80]:
# type your code here
languages_list.append('Excel')
languages_list.append('Data')
print(languages_list)

['R', 'Python', 'C', 'Java', 'Data', 'Angular', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [89]:
# type your code here
languages_list[2] = 'C++'
print(languages_list)

['R', 'Python', 'C++', 'Java', 'Data', 'Angular', 'Excel', 'Data']

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [151]:
# type your code here
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 3. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [72]:
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2

In [73]:
# type your code here
len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [74]:
# type your code here
num_tuple+mix_tuple

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [75]:
# type your code here
mix_tuple*2

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [85]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [86]:
# type your code here
myNewList = list(mix_tuple)
print(myNewList)
myNewList.append('4')
print(myNewList)

[['a', 1, True], 2, 'Science', -5]
[['a', 1, True], 2, 'Science', -5, '4']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [87]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [93]:
# type your code here
myList = list(mix_tuple)
myList
myList[1] = 3
myList

[['a', 1, True], 3, 'Science', -5]

**b. Replace 'True' in first element of the tuple with 'False'**

In [95]:
# type your code here
mix_tuple[0][2] = False
mix_tuple

(['a', 1, False], 2, 'Science', -5)

<a id="set"> </a>
## 4. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [104]:
num_set = {1, 2, 3, 4, 5, 6}

In [105]:
# type your code here
num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [106]:
# type your code here
num_set.remove(3)
num_set

{1, 2, 4, 5, 6, 7}

**c. Clear the set**

In [107]:
# type your code here
num_set.clear()
num_set

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [115]:
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science'

In [119]:
# type your code here
list1=sentence_1.split(" ")
set1=set(list1)
print(set1)
list2 = sentence_2.split(" ")
set2=set(list2)
print(set2)

{'using', 'shall', 'data', 'the', 'python', 'We', 'analyse'}
{'data', 'science', 'Python', 'for'}

**a. Find the number of unique words in the sentences**

In [164]:
# type your code here
set3=set1.union(set2)
list3=list(set3)
len(list3)

10

**b. Find the common words in both the sentences**

In [149]:
# type your code here
set1.intersection(set2)

{'data'}

**c. Find the unique words in both the sentences**

In [150]:
# type your code here
set1.union(set2)

{'Python',
 'We',
 'analyse',
 'data',
 'for',
 'python',
 'science',
 'shall',
 'the',
 'using'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [152]:
# type your code here
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

**b. Intersection**

In [153]:
# type your code here
A.intersection(B)

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [172]:
# type your code here
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

**d. Set of all the elements of set B that are not in set A**

In [173]:
# type your code here
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

**e. Symmetric difference**

In [170]:
# type your code here
A.symmetric_difference(B)

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

<a id="dict"> </a>
## 5. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to add a key to a dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [144]:
# type your code here
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary[4]=16
square_dictionary

{1: 1, 2: 4, 3: 9, 4: 16}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to retrieve the keys/values of dictionary </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [140]:
# type your code here
mix_dictionary = {0:3, 'x':5, 1:2}
print(mix_dictionary.keys())
print(mix_dictionary.values())

dict_keys([0, 'x', 1])
dict_values([3, 5, 2])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a program to get the value for 'Age' from the dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [141]:
# type your code here
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
print(emp_record['Age'])

27

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to create a dictionary using given keys and values</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the keys and values to create a dictionary**

key = ['a','b','c','d']

value = [1, 2, 3, 4]

In [180]:
# type your code here
key = ['a','b','c','d']
value = [1, 2, 3, 4]
dict(zip(key,value))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Set the country of an employee as 'India' in the given employee record</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [135]:
# type your code here
emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record['Country']='India'
emp_record

{'Emp_ID': 'ES001',
 'Weight': 67,
 'BMI': 25,
 'Age': 27,
 'Profession': 'CA',
 'Country': 'India'}

<a id="cond"> </a>
## 6. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [171]:
number=int(input("Enter a number : "))
if number%7 == 0:
    print("Number is multiple of 7")

Enter a number : 7
Number is multiple of 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [129]:
a=int(input("Enter number 1 : "))
b=int(input("enter number 2 : "))
if a>b:
    print("Number1 is greater")
else:
    print("Number 2 is greater than Number1")

Enter number 1 : 2
enter number 2 : 3
Number 2 is greater than Number1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [179]:
number1=int(input("Enter a number : "))
if number1 < 0:
    print("Number is negative")
elif number1 > 0:
    print("Number is positive")
else:
    print("Number is 0")

Enter a number : 0
Number is 0