<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> In-class Lab <br> (Day 2) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

##  Table of Content

1. **[String](#string)**
2. **[List](#list)**
3. **[Tuple](#tuple)**
4. **[Set](#set)**
5. **[Dictionary](#dict)**
6. **[Conditional Statements](#cond)**

### Let's begin with some hands-on practice exercises

<a id="string"></a>
## 1. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Create a string with the name 'country' and 'India' as its element. Perform the following on it:
                    <ol type = "1">
                        <li>Find its length. </li>
                        <li>Extract it first two letters. </li>
                        </ol></b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# creating the variable 'country'
country = 'India'

In [0]:
# length of 'country'
len(country)

5

In [0]:
# extracting first two letters
print(country[0])
print(country[1])

I
n

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# 1. Write a code to get 'Today' and 'sunny'.
statement  = 'Today is a sunny day'

# to print 'Today'
print(statement[0:5])

# to print 'sunny'
print(statement[11:16])

Today
sunny

In [0]:
# 2. Obtain the last two letters.
statement[-2:]

'ay'

In [0]:
# 3. Write the statement backwards.
statement[::-1]

'yad ynnus a si yadoT'

<a id="list"> </a>
## 2. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [1]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

# len() returns number of elements in the list
print(len(mix_list_1))

5

**b. Check the membership of '24' in mix_list_1**

In [2]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

# check if the element '24' is present in the list or not
print(24 in mix_list_1)

True

**c. Concatenate the mix_list_1 and mix_list_2**

In [3]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']

# concate the above two lists
concatenation = mix_list_1 + mix_list_2
print(concatenation)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [4]:
mix_list_2 = [4, 7, 'Summer']

# repeat the elements in the list
repeat = mix_list_2*3
print(repeat)

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [5]:
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]

# multiply the above lists
multiplication = num_list_1 * num_list_2
multiplication

TypeError: can't multiply sequence by non-int of type 'list'

**One can not perform element-wise multiplication of lists using the above method.**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [6]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

# list indices starts from 0
print('First element:', mix_list[0])

First element: Python

**b. Second last element**

In [7]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

# negative indices retrieve elements from last element 
# mix_list[-1] will give the last element
print('Second last element:', mix_list[-2])

Second last element: Data

**c. First three elements**

In [8]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

# [0:3] returns the first three elements in the list
print('First three elements:', mix_list[0:3])

First three elements: ['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [9]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

# retrieve the 2nd, 4th and 6th element
print(mix_list[1::2])

[1, 3, True]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [10]:
num_list = [4, 5, 7, -2, 0, 1]

# min() returns the minimum value in the list
print('Minimum element:', min(num_list))

Minimum element: -2

**b. Max(list)**

In [11]:
num_list = [4, 5, 7, -2, 0, 1]

# max() returns the maximum value in the list
print('Maximum element:', max(num_list))

Maximum element: 7

**c. Sort the elements (use sort() and sorted() function)**

In [12]:
# sort() function
num_list = [4, 5, 7, -2, 0, 1]

# 'reverse= True' sorts the list in reverse order
num_list.sort(reverse= False)

print(num_list)

[-2, 0, 1, 4, 5, 7]

sort() is a method that is applicable only for list-objects and sorted() is a function for sorting any iterable, including list.

In [13]:
# sorted() function
num_list = [4, 5, 7, -2, 0, 1]
sorted(num_list)

[-2, 0, 1, 4, 5, 7]

**d. Create a copy of a list**

In [14]:
num_list = [4, 5, 7, -2, 0, 1]

# create a copy of 'num_list' using copy()
new_list = num_list.copy()
print('old_list:', num_list)
print('new_list:', new_list)

old_list: [4, 5, 7, -2, 0, 1]
new_list: [4, 5, 7, -2, 0, 1]

**e. Remove element '5' from the list**

In [15]:
num_list = [4, 5, 7, -2, 0, 1]

# remove() returns the list after removal of the element
num_list.remove(5)
print('new_list:', num_list)

new_list: [4, 7, -2, 0, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [16]:
languages_list = ['R','Python', 'C', 'Java']

# using .append() to add single element
languages_list.append('Data')
print('new_list:', languages_list)

new_list: ['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [17]:
languages_list = ['R','Python', 'C', 'Java']

# using .extend() to add two elements
languages_list.extend(['Excel', 'Data'])
print('new_list:', languages_list)

new_list: ['R', 'Python', 'C', 'Java', 'Excel', 'Data']

**NOTE: The function append() adds its argument as a single list of elements; thus increasing the length of the list by one.<br>
 extend() iterates over its argument adding each element to the list; thus the length of the list increases by the number of elements in the iterable argument.**
 
See the example below:

In [18]:
# Example

given_list = [1,2,3]
print('given_list',given_list)
# add elements 4 and 5

# append() adds the elements 4 and 5 as one element to the list
given_list.append([4,5])

print('updated list:', given_list)

given_list [1, 2, 3]
updated list: [1, 2, 3, [4, 5]]

In [19]:
given_list = [1,2,3]
print('given_list',given_list)

# add elements 4 and 5
# extend() adds the elements 4 and 5 as two elements to the list
given_list.extend([4,5])

print('updated list:', given_list)

given_list [1, 2, 3]
updated list: [1, 2, 3, 4, 5]

**c. Replace an element 'C' with 'C++' in the given list**

In [20]:
languages_list = ['R','Python', 'C', 'Java']

# replace 'C' with 'C++'
languages_list[2] = 'C++'
print('new_list:', languages_list)

new_list: ['R', 'Python', 'C++', 'Java']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [21]:
# given list
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

# count the number of times 'Summer' occurs in a given list
seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 3. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [22]:
num_tuple = (4, 4, 8)

# number of elements in the list
print(len(num_tuple))

3

**b. Concatenate the num_tuple and mix_tuple**

In [23]:
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2

# concate the above two tuples
concatenation = num_tuple + mix_tuple
print(concatenation)

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [24]:
mix_tuple = 'John', 5, -2

# repeat the tuple twice
repetition = mix_tuple * 2
repetition

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [25]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

# add new element using '+'  
mix_tuple = mix_tuple + (4,)

mix_tuple

(['a', 1, True], 2, 'Science', -5, 4)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [26]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

# replace '2' with '3'
mix_tuple[1] = 3

print(mix_tuple)

TypeError: 'tuple' object does not support item assignment

**Since, tuples are immutable, one can not modify the elements. But it can contain mutable elements like lists.**<br><br>

**b. Replace 'True' in first element of the tuple with 'False'**

In [27]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

# 'True' is at 2nd index position in the list, which is at 0th position in the tuple
mix_tuple[0][2] = False

print('updated tuple:', mix_tuple)

updated tuple: (['a', 1, False], 2, 'Science', -5)

<a id="set"> </a>
## 4. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [28]:
num_set = {1, 2, 3, 4, 5, 6}

# add() adds a new element to the set
num_set.add(7)
print('updated set:', num_set)

updated set: {1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [29]:
num_set = {1, 2, 3, 4, 5, 6}

# remove() returns the set after removal of the element
num_set.remove(3)
print('updated set:', num_set)

updated set: {1, 2, 4, 5, 6}

**c. Clear the set**

In [30]:
num_set = {1, 2, 3, 4, 5, 6}

# clear() returns an empty set
num_set.clear()
print(num_set)

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [31]:
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Specifically, python for data science'

# create a set of words
sen_1_words = set(sentence_1.split())
sen_2_words = set(sentence_2.split())

**a. Find the number of unique words in the sentences**

In [32]:
# number of unique words in sentence_1
no_of_unique_words_in_sentence1 = len(sen_1_words)
print('Number of unique words in 1st sentence:', no_of_unique_words_in_sentence1)

# number of unique words in sentence_2
no_of_unique_words_in_sentence2 = len(sen_2_words)
print('Number of unique words in 2nd sentence:', no_of_unique_words_in_sentence2)

Number of unique words in 1st sentence: 7
Number of unique words in 2nd sentence: 5

**b. Find the common words in both the sentences**

In [33]:
# intersection() returns common elements in the sets
common_words = sen_1_words.intersection(sen_2_words)
print('The common words between the two sentences:', common_words)

The common words between the two sentences: {'data', 'python'}

**c. Find the unique words in both the sentences**

In [34]:
# union() returns all elements in the sets
# it returns the common elements only once
unique_words = sen_1_words.union(sen_2_words)
print('Unique words in both the sentences:', unique_words)

Unique words in both the sentences: {'the', 'python', 'We', 'Specifically,', 'using', 'shall', 'for', 'science', 'analyse', 'data'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [35]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

# take the union of two sets
Union = A.union(B)
print('Union of A and B:', Union)

Union of A and B: {1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

**b. Intersection**

In [36]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

# take the intersection of two sets
Intersection = A.intersection(B)
print('Intersection of A and B:', Intersection)

Intersection of A and B: {3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [37]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

# 'A.difference(B)' give elements in A not in B
Difference1 = A.difference(B)
print('A-B:', Difference1)

A-B: {1, 2, 4, 71, 40, 87}

**d. Set of all the elements of set B that are not in set A**

In [38]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

# 'B.difference(A)' give elements in B not in A
Difference2 = B.difference(A)
print('B-A:', Difference2)

B-A: {8, 42, 51, 54}

**e. Symmetric difference**

In [39]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

# Symmetric_difference is a union of 'A-B' abd 'B-A'
Symmetric_difference = A.symmetric_difference(B)
print('Symmetric_difference between A and B:', Symmetric_difference)

Symmetric_difference between A and B: {1, 2, 4, 71, 8, 40, 42, 51, 54, 87}

<a id="dict"> </a>
## 5. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to add a key to a dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [40]:
square_dictionary = {1:1, 2:4, 3:9}

# add a key using 'update()'
square_dictionary.update({4:16})
print('updated dictionary:', square_dictionary)

updated dictionary: {1: 1, 2: 4, 3: 9, 4: 16}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to retrieve the keys/values of dictionary </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [41]:
mix_dictionary = {0:3, 'x':5, 1:2}

# keys() returns the keys in the dictionary
print('Keys:', mix_dictionary.keys())

# values() returns the corresponding values of the keys
print('Values:', mix_dictionary.values())

Keys: dict_keys([0, 'x', 1])
Values: dict_values([3, 5, 2])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a program to get the value for 'Age' from the dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [42]:
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

# print the age 
print(emp_record['Age'])

27

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to create a dictionary using given keys and values</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the keys and values to create a dictionary**

key = ['a','b','c','d']

value = [1, 2, 3, 4]

In [43]:
key = ['a','b','c','d']
value = [1, 2, 3, 4]

# dict() creates a dictionary 
# zip() pairs the corresponding key and value from a list
dictionary = dict(zip(key, value))
print(dictionary)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Set the country of an employee as 'India' in the given employee record</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [44]:
emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

# set a key 'Country' with default value 'India'
emp_record.setdefault('Country', 'India')

emp_record

{'Age': 27,
 'BMI': 25,
 'Country': 'India',
 'Emp_ID': 'ES001',
 'Profession': 'CA',
 'Weight': 67}

<a id="cond"> </a>
## 6. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [45]:
# consider a number
number = 28

# pass condition to 'if' statement
if number%7== 0:
    print(number, "is a multiple of 7.")

28 is a multiple of 7.

The print statement is executed only if the 'if' condition is true. Else, the print statement is not executed and there will be no output.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [46]:
# consider the numbers
x = 55
y = 7

# pass condition to 'if' statement
if (x < y):
    print('y =' +' '+ str(y)  +' '+ 'is the maximum number')
else:
    print('x =' +' '+ str(x)  +' '+ 'is the maximum number')

x = 55 is the maximum number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [47]:
# consider a number
number = 45

# pass condition to 'if' statement
if number == 0:
    print("Number is zero")
    
# pass condition to 'elif' statement
elif number > 0:
    print("Number is positive")                  
else:
    print("Number is negative")

Number is positive